footer.hf-footer
    .hf-top-footer
        .row
            .col-md-6.col-left.align-items-center
                .hf-find-place
                    .hf-locate-content
                        .hf-text-01.hf-block.active
                            span.text Click để tìm showroom gần vị trí bạn nhất
                            img.hf-icon(src="assets/images/icon-map-maker.png", alt="")
                        .hf-loading.hf-block
                            img.hf-icon(src="assets/images/icon-map-maker.png", alt="")
                        .hf-place-list.hf-block
                            .hf-place-item
                                .icon
                                    img.img-fluid(src="assets/images/icon-location-shadow.png", alt="")
                                .text-block
                                    span.hf-lb Bạn đang ở vị trí:
                                    span.hf-place 25 Đoàn Văn Bơ, Q4, Tp .Hồ Chí Minh
                            .hf-place-item
                                .icon
                                    img.img-fluid(src="assets/images/Showroom.png", alt="")
                                .text-block
                                    span.hf-lb Showroom gần nhất:
                                        b Phú Mỹ Hưng
                                    span.hf-place CR2-07, Tôn Dật Tiên, Quận 7, TP. Hồ Chí Minh
            .col-md-6.col-right.align-items-center
                .hf-contact-sc
                    h2.hf-title-02.text-center
                        span.hf-txt Liên hệ
                    .desc The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested
                    a.hf-btn.hf-btn-white-outline.fs-16(href="contact.html") Contact us
    .hf-newsletter
        .container
            .hf-title Đăng ký nhận tin mới nhất
            .newsletters-form
                .row.justify-content-md-center
                    .col-lg-5.col-md-8.align-self-center
                        .input-group
                            input.form-control.hf-form-control.hf-light-style(type="text" placeholder="Nhập email...")
                            .input-group-append
                                button.hf-btn.hf-btn-primary(type="button") gửi
    .hf-main-footer
        .container
            .hf-top
                .row.justify-content-between
                    .col
                        a.logo(href="#")
                            img.img-fluid(src="assets/images/hafele-logo.png", alt="")
                    .col.text-right
                        .hf-text Theo dõi chúng tôi tại các kênh
                        ul.hf-social-list
                            li
                                a.hf-link(href="#")
                                    i.icon-facebook-f
                            li
                                a.hf-link(href="#")
                                    i.icon-twitter-1
                            li
                                a.hf-link(href="#")
                                    i.icon-google-plus-g
            .hf-bottom
                .row.justify-content-between
                    .col
                        ul.hf-footer-menu.nav.nav-justified
                            li.hf-menu-item
                                a.hf-item-link(href="#") Về Hefele Lock
                            li.hf-menu-item
                                a.hf-item-link(href="#") Hỗ trợ
                            li.hf-menu-item
                                a.hf-item-link(href="#") Điều khoản sử dụng
                            li.hf-menu-item
                                a.hf-item-link(href="promotions.html") Khuyến mãi
                            li.hf-menu-item
                                a.hf-item-link(href="contact.html") Liên hệ
                    .col
                        .copy-text &copy; 2018 Hefele, All rights Reserved
