
<button class="u-btn u-btn-icon" type="button"><i class="ion-md-person-add"></i><span>Add user</span></button>
<button class="u-btn u-btn-icon u-btn-primary" type="button"><span>Share</span><i class="ion-md-open"></i></button>
<button class="u-btn u-btn-icon u-btn-secondary" type="button"><i class="ion-md-download"></i><span>Download</span></button>
<button class="u-btn u-btn-icon u-btn-danger" type="button"><i class="ion-md-trash"></i></button>
<button class="u-btn u-btn-icon" type="button"><i class="ion-md-alarm"></i></button>
<button class="u-btn u-btn-icon u-btn-light" type="button"><i class="ion-md-color-fill"></i></button>