
<button class="u-btn" type="button">Default</button>
<button class="u-btn u-btn-primary" type="button">Primary</button>
<button class="u-btn u-btn-secondary" type="button">Secondary</button>
<button class="u-btn u-btn-success" type="button">Success</button>
<button class="u-btn u-btn-danger" type="button">Danger</button>
<button class="u-btn u-btn-warning" type="button">Warning</button>
<button class="u-btn u-btn-info" type="button">Info</button>
<button class="u-btn u-btn-light" type="button">Light</button>
<button class="u-btn u-btn-dark" type="button">Dark</button>
<button class="u-btn u-btn-link" type="button">Link</button>