
<button class="u-btn u-btn-lg" type="button">Large Default</button>
<button class="u-btn u-btn-icon u-btn-lg u-btn-primary" type="button"><span>Sign in</span><i class="ion-md-log-in"></i></button>
<button class="u-btn u-btn-icon u-btn-lg u-btn-warning" type="button"><i class="ion-md-add"></i><span>Load more</span></button>
<button class="u-btn u-btn-icon u-btn-lg" type="button"><i class="ion-md-apps"></i></button>
<button class="u-btn u-btn-icon u-btn-lg u-btn-light" type="button"><i class="ion-md-checkbox-outline"></i></button><br/>
<button class="u-btn u-btn-sm" type="button">Small Default</button>
<button class="u-btn u-btn-icon u-btn-sm u-btn-success" type="button"><i class="ion-md-save"></i><span>Save</span></button>
<button class="u-btn u-btn-icon u-btn-sm u-btn-secondary" type="button"><span>Read more</span><i class="ion-md-arrow-forward"></i></button>
<button class="u-btn u-btn-icon u-btn-sm" type="button"><i class="ion-md-add"></i></button>
<button class="u-btn u-btn-icon u-btn-sm u-btn-light" type="button"><i class="ion-md-close"></i></button>