// Table of Contents
//
// mixins
// variables
// base
// header
// footer
// layout example
// grid example
// icon example

@import "global/mixins";
@import "global/variables";
@import "global/base";

@import "../../examples/header-example/demo";
@import "../../examples/footer-example/demo";

// layout example
.u-ex-layout {
  position: relative;
  padding: rem(30);
  min-height: calc(100vh - #{$header-height} - #{$footer-height});

  .u-ex-box {
    margin-bottom: rem(30);

    .u-ex-box-title {
      font-size: rem(20);
      margin-bottom: rem(15);
      span {
        font-weight: $font-weight-bold;
      }
    }

    .u-ex-box-body {
      > .u-btn {
        margin: 0 rem(3) rem(7) 0;
      }
    }
  }
}


// grid example
.u-ex-grid {
  .u-row {
    > .u-col,
    > [class^=u-col-] {
      > .u-ex-box {
        text-align: center;
        padding: rem(5);
        margin-bottom: rem(15);
        background-color: $gray-100;
        border: 1px solid $gray-200;
      }
    }
  }
}


// icon example
.u-ex-icon {
  .u-ex-box {
    &:nth-child(2n) {
      .u-ex-box-body {
        > p {
          color: $gray-900;
        }
      }
    }

    .u-ex-box-body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      > p {
        display: flex;
        flex-basis: 25%;
        align-items: center;
        cursor: pointer;
        color: $text-muted;
        border-radius: $border-radius;
        @include transition($transition-base);

        &:hover {
          background-color: $gray-200;
        }

        > i {
          font-size: rem(28);
          width: rem(45);
          height: rem(45);
          line-height: rem(45);
          text-align: center;
          margin-right: rem(10);
        }
      }
    }
  }
}
