.u-pricing-table-01
  .column.one.column_fancy_heading
    .fancy_heading.fancy_heading_icon
      span.icon_top
        i.icon-layout
      h2.title Pricing plan uses also table layout
      .inside
        span.big
          | Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam.
