button.u-btn.u-btn-lg(type="button") Large Default
button.u-btn.u-btn-icon.u-btn-lg.u-btn-primary(type="button")
  span Sign in
  i.ion-md-log-in
button.u-btn.u-btn-icon.u-btn-lg.u-btn-warning(type="button")
  i.ion-md-add
  span Load more
button.u-btn.u-btn-icon.u-btn-lg(type="button")
  i.ion-md-apps
button.u-btn.u-btn-icon.u-btn-lg.u-btn-light(type="button")
  i.ion-md-checkbox-outline
br
button.u-btn.u-btn-sm(type="button") Small Default
button.u-btn.u-btn-icon.u-btn-sm.u-btn-success(type="button")
  i.ion-md-save
  span Save
button.u-btn.u-btn-icon.u-btn-sm.u-btn-secondary(type="button")
  span Read more
  i.ion-md-arrow-forward
button.u-btn.u-btn-icon.u-btn-sm(type="button")
  i.ion-md-add
button.u-btn.u-btn-icon.u-btn-sm.u-btn-light(type="button")
  i.ion-md-close
