button.u-btn.u-btn-icon(type="button")
  i.ion-md-person-add
  span Add user
button.u-btn.u-btn-icon.u-btn-primary(type="button")
  span Share
  i.ion-md-open
button.u-btn.u-btn-icon.u-btn-secondary(type="button")
  i.ion-md-download
  span Download
button.u-btn.u-btn-icon.u-btn-danger(type="button")
  i.ion-md-trash
button.u-btn.u-btn-icon(type="button")
  i.ion-md-alarm
button.u-btn.u-btn-icon.u-btn-light(type="button")
  i.ion-md-color-fill
