button.u-btn(type="button") Default
button.u-btn.u-btn-primary(type="button") Primary
button.u-btn.u-btn-secondary(type="button") Secondary
button.u-btn.u-btn-success(type="button") Success
button.u-btn.u-btn-danger(type="button") Danger
button.u-btn.u-btn-warning(type="button") Warning
button.u-btn.u-btn-info(type="button") Info
button.u-btn.u-btn-light(type="button") Light
button.u-btn.u-btn-dark(type="button") Dark
button.u-btn.u-btn-link(type="button") Link
