// Mixins
//
// Variants

// Import mixins global
@import "../../assets/scss/global/mixins";


// Variants
@mixin alert-variant($background, $border, $color) {
  color: color-yiq($background);
  background-color: $background;
  border-color: $border;
}
