// Variables
//

// Import variables global
@import "../../assets/scss/global/variables";


$alert-padding-y:                   rem(12) !default;
$alert-padding-x:                   rem(18) !default;
$alert-margin-bottom:               rem(16) !default;
$alert-border-radius:               $border-radius !default;
$alert-border-width:                $border-width !default;
