// Variables
//

// Import variables global
@import "../../assets/scss/global/variables";


$alert-padding-y:                   rem(12) !default;
$alert-padding-x:                   rem(18) !default;
$alert-margin-bottom:               rem(16) !default;
$alert-border-radius:               $border-radius !default;
$alert-link-font-weight:            $font-weight-bold !default;
$alert-border-width:                $border-width !default;

$alert-bg-level:                    -10 !default;
$alert-border-level:                -9 !default;
$alert-color-level:                 6 !default;
