.u-ex-layout.u-ex-layout-2-columns
  .u-ex-box
    .u-ex-box-title <span>Alert</span> basic
    .u-ex-box-body
      // BEGIN DEMO
      include ./_includes/alert-basic.pug
      // END DEMO
  .u-ex-box
    .u-ex-box-title <span>Alert</span> customize
    .u-ex-box-body
      // BEGIN DEMO
      include ./_includes/alert-customize.pug
      // END DEMO
