.u-ex-layout.u-ex-layout-2-columns
  .u-ex-box
    .u-ex-box-title <span>Alert</span> basic
    .u-ex-box-body
      // BEGIN DEMO
      include ./_includes/demo-01.pug
      // END DEMO
  .u-ex-box
    .u-ex-box-title <span>Alert</span> fill color
    .u-ex-box-body
      // BEGIN DEMO
      include ./_includes/demo-02.pug
      // END DEMO
