button.u-btn(type="button") Default
button.u-btn.u-btn-primary(type="button") Primary
button.u-btn.u-btn-secondary(type="button") Secondary
button.u-btn.u-btn-success(type="button") Success
button.u-btn.u-btn-danger(type="button") Danger
button.u-btn.u-btn-warning(type="button") Warning
button.u-btn.u-btn-info(type="button") Info
button.u-btn.u-btn-light(type="button") Light
button.u-btn.u-btn-dark(type="button") Dark
button.u-btn.u-btn-link(type="button") Link
br
button.u-btn.u-btn-outline(type="button") Default
button.u-btn.u-btn-outline-primary(type="button") Primary
button.u-btn.u-btn-outline-secondary(type="button") Secondary
button.u-btn.u-btn-outline-success(type="button") Success
button.u-btn.u-btn-outline-danger(type="button") Danger
button.u-btn.u-btn-outline-warning(type="button") Warning
button.u-btn.u-btn-outline-info(type="button") Info
button.u-btn.u-btn-outline-light(type="button") Light
button.u-btn.u-btn-outline-dark(type="button") Dark
br
button.u-btn.u-btn-lg(type="button") Large Default
button.u-btn.u-btn-primary.u-btn-lg(type="button") Large Primary
br
button.u-btn.u-btn-sm(type="button") Small Default
button.u-btn.u-btn-primary.u-btn-sm(type="button") Small Primary
