// Button basic
//
// Base
// Color
// Link buttons
// Size
// Button icon

// Import variables & mixins local
@import "./mixins";
@import "./variables";

// Base
.u-btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  &:focus,
  &.focus {
    outline: 0;
  }

  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}
a.u-btn.disabled,
fieldset:disabled a.u-btn {
  pointer-events: none;
}


// Color
.u-btn {
  @include button-variant($default, $default);    // Button default color
  @each $color, $value in $theme-colors {
    &.u-btn-#{$color} {
      @include button-variant($value, $value);
    }
  }
}


// Link button
.u-btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;
  border: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}


// Size
.u-btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-line-height-lg, $btn-border-radius);
}
.u-btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


// Button icon
.u-btn-icon {
  padding: 0;

  > i {
    font-size: 1rem;
    font-weight: $font-weight-normal;
    line-height: 1.4;
    display: inline-block;
    vertical-align: middle;
    padding: rem(5) $btn-padding-x;

    + span {
      display: inline-block;
      vertical-align: middle;
      padding: $btn-padding-y $btn-padding-x $btn-padding-y 0;
    }
  }

  > span {
    display: inline-block;
    vertical-align: middle;
    padding: $btn-padding-y 0 $btn-padding-y $btn-padding-x;
  }

  &.u-btn-lg {
    > i {
      font-size: rem(20);
    }
  }

  &.u-btn-sm {
    > i {
      font-size: rem(16);
      padding: rem(2) $btn-padding-x-sm;

      + span {
        padding: $btn-padding-y-sm $btn-padding-x-sm $btn-padding-y-sm 0;
      }
    }

    > span {
      padding: $btn-padding-y-sm 0 $btn-padding-y-sm $btn-padding-x-sm;
    }
  }
}
