.u-ex-layout
  .u-ex-box
    .u-ex-box-title <span>Button</span> basic
    .u-ex-box-body
      // BEGIN DEMO
      include ./_includes/button-basic.pug
      // END DEMO
  .u-ex-box
    .u-ex-box-title <span>Button</span> icon
    .u-ex-box-body
      // BEGIN DEMO
      include ./_includes/button-icon.pug
      // END DEMO
  .u-ex-box
    .u-ex-box-title <span>Button</span> size
    .u-ex-box-body
      // BEGIN DEMO
      include ./_includes/button-size.pug
      // END DEMO
  .u-ex-box
    .u-ex-box-title <span>Button</span> disabled
    .u-ex-box-body
      // BEGIN DEMO
      include ./_includes/button-disabled.pug
      // END DEMO
