.u-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.3125rem 0.625rem;
  font-size: inherit;
  line-height: 1.45;
  -webkit-border-radius: 0.1429rem;
          border-radius: 0.1429rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.u-btn:focus, .u-btn.focus {
  outline: 0;
}

.u-btn.disabled, .u-btn:disabled {
  opacity: 0.65;
}

.u-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.u-btn.disabled,
fieldset:disabled a.u-btn {
  pointer-events: none;
}

.u-btn {
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.u-btn:hover {
  color: #212529;
  background-color: #d7dde2;
  border-color: #d7dde2;
}

.u-btn:focus, .u-btn.focus {
  color: #212529;
  background-color: #c9d0d7;
  border-color: #c9d0d7;
}

.u-btn.disabled, .u-btn:disabled {
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.u-btn.u-btn-default {
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.u-btn.u-btn-default:hover {
  color: #212529;
  background-color: #d7dde2;
  border-color: #d7dde2;
}

.u-btn.u-btn-default:focus, .u-btn.u-btn-default.focus {
  color: #212529;
  background-color: #c9d0d7;
  border-color: #c9d0d7;
}

.u-btn.u-btn-default.disabled, .u-btn.u-btn-default:disabled {
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.u-btn.u-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.u-btn.u-btn-primary:hover {
  color: #fff;
  background-color: #006ce0;
  border-color: #006ce0;
}

.u-btn.u-btn-primary:focus, .u-btn.u-btn-primary.focus {
  color: #fff;
  background-color: #0060c7;
  border-color: #0060c7;
}

.u-btn.u-btn-primary.disabled, .u-btn.u-btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.u-btn.u-btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.u-btn.u-btn-secondary:hover {
  color: #fff;
  background-color: #5e666d;
  border-color: #5e666d;
}

.u-btn.u-btn-secondary:focus, .u-btn.u-btn-secondary.focus {
  color: #fff;
  background-color: #52595f;
  border-color: #52595f;
}

.u-btn.u-btn-secondary.disabled, .u-btn.u-btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.u-btn.u-btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.u-btn.u-btn-success:hover {
  color: #fff;
  background-color: #228e3b;
  border-color: #228e3b;
}

.u-btn.u-btn-success:focus, .u-btn.u-btn-success.focus {
  color: #fff;
  background-color: #1d7a32;
  border-color: #1d7a32;
}

.u-btn.u-btn-success.disabled, .u-btn.u-btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.u-btn.u-btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.u-btn.u-btn-info:hover {
  color: #fff;
  background-color: #148a9d;
  border-color: #148a9d;
}

.u-btn.u-btn-info:focus, .u-btn.u-btn-info.focus {
  color: #fff;
  background-color: #117686;
  border-color: #117686;
}

.u-btn.u-btn-info.disabled, .u-btn.u-btn-info:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.u-btn.u-btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.u-btn.u-btn-warning:hover {
  color: #212529;
  background-color: #e7ae00;
  border-color: #e7ae00;
}

.u-btn.u-btn-warning:focus, .u-btn.u-btn-warning.focus {
  color: #212529;
  background-color: #ce9a00;
  border-color: #ce9a00;
}

.u-btn.u-btn-warning.disabled, .u-btn.u-btn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.u-btn.u-btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.u-btn.u-btn-danger:hover {
  color: #fff;
  background-color: #cf2434;
  border-color: #cf2434;
}

.u-btn.u-btn-danger:focus, .u-btn.u-btn-danger.focus {
  color: #fff;
  background-color: #b9202f;
  border-color: #b9202f;
}

.u-btn.u-btn-danger.disabled, .u-btn.u-btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.u-btn.u-btn-light {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

.u-btn.u-btn-light:hover {
  color: #212529;
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

.u-btn.u-btn-light:focus, .u-btn.u-btn-light.focus {
  color: #212529;
  background-color: #e3e3e3;
  border-color: #e3e3e3;
}

.u-btn.u-btn-light.disabled, .u-btn.u-btn-light:disabled {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

.u-btn.u-btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.u-btn.u-btn-dark:hover {
  color: #fff;
  background-color: #262b2f;
  border-color: #262b2f;
}

.u-btn.u-btn-dark:focus, .u-btn.u-btn-dark.focus {
  color: #fff;
  background-color: #1b1e21;
  border-color: #1b1e21;
}

.u-btn.u-btn-dark.disabled, .u-btn.u-btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.u-btn-link {
  font-weight: 400;
  color: #007bff;
  background-color: transparent;
  border: transparent;
}

.u-btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.u-btn-link:focus, .u-btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
}

.u-btn-link:disabled, .u-btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.u-btn-lg {
  padding: 0.5rem 1rem;
  font-size: inherit;
  line-height: 1.5;
  -webkit-border-radius: 0.1429rem;
          border-radius: 0.1429rem;
}

.u-btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: inherit;
  line-height: 1.3;
  -webkit-border-radius: 0.07143rem;
          border-radius: 0.07143rem;
}
