.u-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.3125rem 0.625rem;
  font-size: inherit;
  line-height: 1.45;
  -webkit-border-radius: 0.125rem;
          border-radius: 0.125rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.u-btn:focus, .u-btn.focus {
  outline: 0;
}

.u-btn.disabled, .u-btn:disabled {
  opacity: 0.65;
}

.u-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.u-btn.disabled,
fieldset:disabled a.u-btn {
  pointer-events: none;
}

.u-btn {
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.u-btn:hover {
  color: #212529;
  background-color: #d7dde2;
  border-color: #d7dde2;
}

.u-btn:focus, .u-btn.focus {
  color: #212529;
  background-color: #c9d0d7;
  border-color: #c9d0d7;
}

.u-btn.disabled, .u-btn:disabled {
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.u-btn.u-btn-default {
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.u-btn.u-btn-default:hover {
  color: #212529;
  background-color: #d7dde2;
  border-color: #d7dde2;
}

.u-btn.u-btn-default:focus, .u-btn.u-btn-default.focus {
  color: #212529;
  background-color: #c9d0d7;
  border-color: #c9d0d7;
}

.u-btn.u-btn-default.disabled, .u-btn.u-btn-default:disabled {
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.u-btn.u-btn-primary {
  color: #fff;
  background-color: #5a65b1;
  border-color: #5a65b1;
}

.u-btn.u-btn-primary:hover {
  color: #fff;
  background-color: #4c57a1;
  border-color: #4c57a1;
}

.u-btn.u-btn-primary:focus, .u-btn.u-btn-primary.focus {
  color: #fff;
  background-color: #444d8f;
  border-color: #444d8f;
}

.u-btn.u-btn-primary.disabled, .u-btn.u-btn-primary:disabled {
  color: #fff;
  background-color: #5a65b1;
  border-color: #5a65b1;
}

.u-btn.u-btn-secondary {
  color: #fff;
  background-color: #47586F;
  border-color: #47586F;
}

.u-btn.u-btn-secondary:hover {
  color: #fff;
  background-color: #3b495c;
  border-color: #3b495c;
}

.u-btn.u-btn-secondary:focus, .u-btn.u-btn-secondary.focus {
  color: #fff;
  background-color: #313d4d;
  border-color: #313d4d;
}

.u-btn.u-btn-secondary.disabled, .u-btn.u-btn-secondary:disabled {
  color: #fff;
  background-color: #47586F;
  border-color: #47586F;
}

.u-btn.u-btn-success {
  color: #fff;
  background-color: #2EA4A8;
  border-color: #2EA4A8;
}

.u-btn.u-btn-success:hover {
  color: #fff;
  background-color: #278d90;
  border-color: #278d90;
}

.u-btn.u-btn-success:focus, .u-btn.u-btn-success.focus {
  color: #fff;
  background-color: #22797c;
  border-color: #22797c;
}

.u-btn.u-btn-success.disabled, .u-btn.u-btn-success:disabled {
  color: #fff;
  background-color: #2EA4A8;
  border-color: #2EA4A8;
}

.u-btn.u-btn-info {
  color: #fff;
  background-color: #5894d2;
  border-color: #5894d2;
}

.u-btn.u-btn-info:hover {
  color: #fff;
  background-color: #4085cc;
  border-color: #4085cc;
}

.u-btn.u-btn-info:focus, .u-btn.u-btn-info.focus {
  color: #fff;
  background-color: #3378bf;
  border-color: #3378bf;
}

.u-btn.u-btn-info.disabled, .u-btn.u-btn-info:disabled {
  color: #fff;
  background-color: #5894d2;
  border-color: #5894d2;
}

.u-btn.u-btn-warning {
  color: #212529;
  background-color: #FFB14A;
  border-color: #FFB14A;
}

.u-btn.u-btn-warning:hover {
  color: #212529;
  background-color: #ffa42b;
  border-color: #ffa42b;
}

.u-btn.u-btn-warning:focus, .u-btn.u-btn-warning.focus {
  color: #212529;
  background-color: #ff9912;
  border-color: #ff9912;
}

.u-btn.u-btn-warning.disabled, .u-btn.u-btn-warning:disabled {
  color: #212529;
  background-color: #FFB14A;
  border-color: #FFB14A;
}

.u-btn.u-btn-danger {
  color: #fff;
  background-color: #E5404C;
  border-color: #E5404C;
}

.u-btn.u-btn-danger:hover {
  color: #fff;
  background-color: #e12533;
  border-color: #e12533;
}

.u-btn.u-btn-danger:focus, .u-btn.u-btn-danger.focus {
  color: #fff;
  background-color: #d11c29;
  border-color: #d11c29;
}

.u-btn.u-btn-danger.disabled, .u-btn.u-btn-danger:disabled {
  color: #fff;
  background-color: #E5404C;
  border-color: #E5404C;
}

.u-btn.u-btn-light {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

.u-btn.u-btn-light:hover {
  color: #212529;
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

.u-btn.u-btn-light:focus, .u-btn.u-btn-light.focus {
  color: #212529;
  background-color: #e3e3e3;
  border-color: #e3e3e3;
}

.u-btn.u-btn-light.disabled, .u-btn.u-btn-light:disabled {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

.u-btn.u-btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.u-btn.u-btn-dark:hover {
  color: #fff;
  background-color: #262b2f;
  border-color: #262b2f;
}

.u-btn.u-btn-dark:focus, .u-btn.u-btn-dark.focus {
  color: #fff;
  background-color: #1b1e21;
  border-color: #1b1e21;
}

.u-btn.u-btn-dark.disabled, .u-btn.u-btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.u-btn-link {
  font-weight: 400;
  color: #5a65b1;
  background-color: transparent;
  border: transparent;
}

.u-btn-link:hover {
  color: #3d4681;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.u-btn-link:focus, .u-btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
}

.u-btn-link:disabled, .u-btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.u-btn-lg {
  padding: 0.5rem 1rem;
  font-size: inherit;
  line-height: 1.5;
  -webkit-border-radius: 0.125rem;
          border-radius: 0.125rem;
}

.u-btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: inherit;
  line-height: 1.3;
  -webkit-border-radius: 0.0625rem;
          border-radius: 0.0625rem;
}
