header.hf-header.hf-header--opt01
  .hf-main-header
    .container
      .main-header-wrapp.justify-content-between
        .hf-logo-site
          a.hf-link(href="index.html")
            img.hf-logo(src="assets/images/logo.png" alt="logo")
          span.lg-text Official<br>Partner
          img.hf-logo-partner(src="assets/images/logo-partner.png" alt="logo")
        button.hf-btn.hf-btn-hamburger(type="button")
          span
          span
          span
          span
        .hf-right-col
          .item
            span.hf-text Mua trực tuyến tại
            img.img-fluid(src="assets/images/logo-hafele.png", alt="")
          .item
            span.hf-text Bạn đang ở store
            .hf-lang
              a.hf-link(href="javascript:void(0)")
                img.img-fluid(src="assets/images/singapore.png", alt="")
              a.active.hf-link(href="javascript:void(0)")
                img.img-fluid(src="assets/images/malaysia.png", alt="")
              a.hf-link(href="javascript:void(0)")
                img.img-fluid(src="assets/images/vietnam.png", alt="")
        include ../menus/menu.pug
include ../menus/mobile-menu.pug

      