extends ../../_layouts/layout-demo
block head_end
	link(rel="stylesheet" href="./demo.css") 

block content
	.main-content
		h2 Page Alert Demo
		.view-demo
			include ./demo.pug
	script(type="text/javascript" src="./demo.js")
block body_end
