.u-ex-layout.u-ex-grid
  .u-container
    .u-ex-box
      .u-ex-box-title <span>Grid</span> basic
      .u-ex-box-body
        // BEGIN DEMO
        include ./_includes/grid-basic.pug
        // END DEMO
