.u-btn-outline {
  color: #ced4da;
  background-color: transparent;
  background-image: none;
  border-color: #ced4da;
}

.u-btn-outline:hover {
  color: #212529;
  background-color: #ced4da;
  border-color: #ced4da;
}

.u-btn-outline.disabled, .u-btn-outline:disabled {
  color: #ced4da;
  background-color: transparent;
}

.u-btn-outline-default {
  color: #e9ecef;
  background-color: transparent;
  background-image: none;
  border-color: #e9ecef;
}

.u-btn-outline-default:hover {
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.u-btn-outline-default.disabled, .u-btn-outline-default:disabled {
  color: #e9ecef;
  background-color: transparent;
}

.u-btn-outline-primary {
  color: #5a65b1;
  background-color: transparent;
  background-image: none;
  border-color: #5a65b1;
}

.u-btn-outline-primary:hover {
  color: #fff;
  background-color: #5a65b1;
  border-color: #5a65b1;
}

.u-btn-outline-primary.disabled, .u-btn-outline-primary:disabled {
  color: #5a65b1;
  background-color: transparent;
}

.u-btn-outline-secondary {
  color: #47586F;
  background-color: transparent;
  background-image: none;
  border-color: #47586F;
}

.u-btn-outline-secondary:hover {
  color: #fff;
  background-color: #47586F;
  border-color: #47586F;
}

.u-btn-outline-secondary.disabled, .u-btn-outline-secondary:disabled {
  color: #47586F;
  background-color: transparent;
}

.u-btn-outline-success {
  color: #2EA4A8;
  background-color: transparent;
  background-image: none;
  border-color: #2EA4A8;
}

.u-btn-outline-success:hover {
  color: #fff;
  background-color: #2EA4A8;
  border-color: #2EA4A8;
}

.u-btn-outline-success.disabled, .u-btn-outline-success:disabled {
  color: #2EA4A8;
  background-color: transparent;
}

.u-btn-outline-info {
  color: #5894d2;
  background-color: transparent;
  background-image: none;
  border-color: #5894d2;
}

.u-btn-outline-info:hover {
  color: #fff;
  background-color: #5894d2;
  border-color: #5894d2;
}

.u-btn-outline-info.disabled, .u-btn-outline-info:disabled {
  color: #5894d2;
  background-color: transparent;
}

.u-btn-outline-warning {
  color: #FFB14A;
  background-color: transparent;
  background-image: none;
  border-color: #FFB14A;
}

.u-btn-outline-warning:hover {
  color: #212529;
  background-color: #FFB14A;
  border-color: #FFB14A;
}

.u-btn-outline-warning.disabled, .u-btn-outline-warning:disabled {
  color: #FFB14A;
  background-color: transparent;
}

.u-btn-outline-danger {
  color: #E5404C;
  background-color: transparent;
  background-image: none;
  border-color: #E5404C;
}

.u-btn-outline-danger:hover {
  color: #fff;
  background-color: #E5404C;
  border-color: #E5404C;
}

.u-btn-outline-danger.disabled, .u-btn-outline-danger:disabled {
  color: #E5404C;
  background-color: transparent;
}

.u-btn-outline-light {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
}

.u-btn-outline-light:hover {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

.u-btn-outline-light.disabled, .u-btn-outline-light:disabled {
  color: #fff;
  background-color: transparent;
}

.u-btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.u-btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.u-btn-outline-dark.disabled, .u-btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}
