.u-ex-layout
  .u-ex-box
    .u-ex-box-title <span>Button</span> outline
    .u-ex-box-body
      // BEGIN DEMO
      button.u-btn.u-btn-outline(type="button") Default
      button.u-btn.u-btn-outline-primary(type="button") Primary
      button.u-btn.u-btn-outline-secondary(type="button") Secondary
      button.u-btn.u-btn-outline-success(type="button") Success
      button.u-btn.u-btn-outline-danger(type="button") Danger
      button.u-btn.u-btn-outline-warning(type="button") Warning
      button.u-btn.u-btn-outline-info(type="button") Info
      button.u-btn.u-btn-outline-light(type="button") Light
      button.u-btn.u-btn-outline-dark(type="button") Dark
      // END DEMO
