extends ../../_layouts/layout-example
block head_end
	link(rel="stylesheet" href="../button-basic/demo.css") 
	link(rel="stylesheet" href="./demo.css") 

block content
	include ./demo.pug
block body_end
