@font-face {
  font-family: 'key';
  src: url('../font/key.eot?94911566');
  src: url('../font/key.eot?94911566#iefix') format('embedded-opentype'),
       url('../font/key.woff2?94911566') format('woff2'),
       url('../font/key.woff?94911566') format('woff'),
       url('../font/key.ttf?94911566') format('truetype'),
       url('../font/key.svg?94911566#key') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'key';
    src: url('../font/key.svg?94911566#key') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "key";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-003-arrows-1:before { content: '\e800'; } /* '' */
.icon-004-arrows:before { content: '\e801'; } /* '' */
.icon-005-play-button:before { content: '\e802'; } /* '' */
.icon-006-up-arrow:before { content: '\e803'; } /* '' */
.icon-007-download-arrow:before { content: '\e804'; } /* '' */
.icon-008-left-arrow:before { content: '\e805'; } /* '' */
.icon-009-right-arrow:before { content: '\e806'; } /* '' */
.icon-003-arrows-2:before { content: '\e808'; } /* '' */
.icon-009-right-arrow-1:before { content: '\e80a'; } /* '' */
.icon-008-left-arrow-1:before { content: '\e80b'; } /* '' */
.icon-007-download-arrow-1:before { content: '\e80c'; } /* '' */
.icon-006-up-arrow-1:before { content: '\e80d'; } /* '' */
.icon-005-play-button-1:before { content: '\e80e'; } /* '' */
.icon-004-arrows-1:before { content: '\e80f'; } /* '' */
.icon-key-1:before { content: '\e8a1'; } /* '' */
.icon-keyboard-1:before { content: '\e8a2'; } /* '' */
.icon-android-1:before { content: '\e8a3'; } /* '' */
.icon-accessible-icon:before { content: '\e8a4'; } /* '' */
.icon-accusoft:before { content: '\e8a5'; } /* '' */
.icon-adn-1:before { content: '\e8a6'; } /* '' */
.icon-adversal:before { content: '\e8a7'; } /* '' */
.icon-affiliatetheme:before { content: '\e8a8'; } /* '' */
.icon-algolia:before { content: '\e8a9'; } /* '' */
.icon-amazon-1:before { content: '\e8aa'; } /* '' */
.icon-amazon-pay:before { content: '\e8ab'; } /* '' */
.icon-angellist-1:before { content: '\e8ac'; } /* '' */
.icon-angrycreative:before { content: '\e8ad'; } /* '' */
.icon-angular:before { content: '\e8ae'; } /* '' */
.icon-apper:before { content: '\e8af'; } /* '' */
.icon-apple-1:before { content: '\e8b0'; } /* '' */
.icon-apple-pay:before { content: '\e8b1'; } /* '' */
.icon-app-store:before { content: '\e8b2'; } /* '' */
.icon-app-store-ios:before { content: '\e8b3'; } /* '' */
.icon-asymmetrik:before { content: '\e8b4'; } /* '' */
.icon-audible:before { content: '\e8b5'; } /* '' */
.icon-autoprefixer:before { content: '\e8b6'; } /* '' */
.icon-avianex:before { content: '\e8b7'; } /* '' */
.icon-aviato:before { content: '\e8b8'; } /* '' */
.icon-aws:before { content: '\e8b9'; } /* '' */
.icon-bandcamp-1:before { content: '\e8ba'; } /* '' */
.icon-behance-1:before { content: '\e8bb'; } /* '' */
.icon-behance-square:before { content: '\e8bc'; } /* '' */
.icon-bimobject:before { content: '\e8bd'; } /* '' */
.icon-bitbucket-1:before { content: '\e8be'; } /* '' */
.icon-bitcoin-1:before { content: '\e8bf'; } /* '' */
.icon-bity:before { content: '\e8c0'; } /* '' */
.icon-blackberry:before { content: '\e8c1'; } /* '' */
.icon-black-tie-1:before { content: '\e8c2'; } /* '' */
.icon-blogger:before { content: '\e8c3'; } /* '' */
.icon-blogger-b:before { content: '\e8c4'; } /* '' */
.icon-bluetooth-1:before { content: '\e8c5'; } /* '' */
.icon-bluetooth-b-1:before { content: '\e8c6'; } /* '' */
.icon-btc:before { content: '\e8c7'; } /* '' */
.icon-buromobelexperte:before { content: '\e8c8'; } /* '' */
.icon-buysellads-1:before { content: '\e8c9'; } /* '' */
.icon-cc-amazon-pay:before { content: '\e8ca'; } /* '' */
.icon-cc-amex-1:before { content: '\e8cb'; } /* '' */
.icon-cc-apple-pay:before { content: '\e8cc'; } /* '' */
.icon-cc-diners-club-1:before { content: '\e8cd'; } /* '' */
.icon-cc-discover-1:before { content: '\e8ce'; } /* '' */
.icon-cc-jcb-1:before { content: '\e8cf'; } /* '' */
.icon-cc-mastercard-1:before { content: '\e8d0'; } /* '' */
.icon-cc-paypal-1:before { content: '\e8d1'; } /* '' */
.icon-cc-stripe-1:before { content: '\e8d2'; } /* '' */
.icon-cc-visa-1:before { content: '\e8d3'; } /* '' */
.icon-centercode:before { content: '\e8d4'; } /* '' */
.icon-chrome-1:before { content: '\e8d5'; } /* '' */
.icon-cloudscale:before { content: '\e8d6'; } /* '' */
.icon-cloudsmith:before { content: '\e8d7'; } /* '' */
.icon-cloudversify:before { content: '\e8d8'; } /* '' */
.icon-codepen:before { content: '\e8d9'; } /* '' */
.icon-codiepie-1:before { content: '\e8da'; } /* '' */
.icon-connectdevelop-1:before { content: '\e8db'; } /* '' */
.icon-contao-1:before { content: '\e8dc'; } /* '' */
.icon-cpanel:before { content: '\e8dd'; } /* '' */
.icon-creative-commons-1:before { content: '\e8de'; } /* '' */
.icon-css3-1:before { content: '\e8df'; } /* '' */
.icon-css3-alt:before { content: '\e8e0'; } /* '' */
.icon-cuttlefish:before { content: '\e8e1'; } /* '' */
.icon-d-and-d:before { content: '\e8e2'; } /* '' */
.icon-dashcube-1:before { content: '\e8e3'; } /* '' */
.icon-delicious-1:before { content: '\e8e4'; } /* '' */
.icon-deploydog:before { content: '\e8e5'; } /* '' */
.icon-deskpro:before { content: '\e8e6'; } /* '' */
.icon-deviantart-1:before { content: '\e8e7'; } /* '' */
.icon-digg-1:before { content: '\e8e8'; } /* '' */
.icon-digital-ocean:before { content: '\e8e9'; } /* '' */
.icon-discord:before { content: '\e8ea'; } /* '' */
.icon-discourse:before { content: '\e8eb'; } /* '' */
.icon-dochub:before { content: '\e8ec'; } /* '' */
.icon-docker:before { content: '\e8ed'; } /* '' */
.icon-draft2digital:before { content: '\e8ee'; } /* '' */
.icon-dribbble-1:before { content: '\e8ef'; } /* '' */
.icon-dribbble-square:before { content: '\e8f0'; } /* '' */
.icon-dropbox-1:before { content: '\e8f1'; } /* '' */
.icon-drupal-1:before { content: '\e8f2'; } /* '' */
.icon-dyalog:before { content: '\e8f3'; } /* '' */
.icon-earlybirds:before { content: '\e8f4'; } /* '' */
.icon-edge-1:before { content: '\e8f5'; } /* '' */
.icon-elementor:before { content: '\e8f6'; } /* '' */
.icon-ember:before { content: '\e8f7'; } /* '' */
.icon-empire-1:before { content: '\e8f8'; } /* '' */
.icon-envira-1:before { content: '\e8f9'; } /* '' */
.icon-erlang:before { content: '\e8fa'; } /* '' */
.icon-ethereum:before { content: '\e8fb'; } /* '' */
.icon-etsy-1:before { content: '\e8fc'; } /* '' */
.icon-expeditedssl-1:before { content: '\e8fd'; } /* '' */
.icon-facebook-1:before { content: '\e8fe'; } /* '' */
.icon-facebook-f:before { content: '\e8ff'; } /* '' */
.icon-facebook-messenger:before { content: '\e900'; } /* '' */
.icon-facebook-square:before { content: '\e901'; } /* '' */
.icon-firefox-1:before { content: '\e902'; } /* '' */
.icon-firstdraft:before { content: '\e903'; } /* '' */
.icon-first-order-1:before { content: '\e904'; } /* '' */
.icon-flickr-1:before { content: '\e905'; } /* '' */
.icon-flipboard:before { content: '\e906'; } /* '' */
.icon-fly:before { content: '\e907'; } /* '' */
.icon-font-awesome-1:before { content: '\e908'; } /* '' */
.icon-font-awesome-alt:before { content: '\e909'; } /* '' */
.icon-font-awesome-flag:before { content: '\e90a'; } /* '' */
.icon-fonticons-1:before { content: '\e90b'; } /* '' */
.icon-fonticons-fi:before { content: '\e90c'; } /* '' */
.icon-fort-awesome-1:before { content: '\e90d'; } /* '' */
.icon-fort-awesome-alt:before { content: '\e90e'; } /* '' */
.icon-forumbee-1:before { content: '\e90f'; } /* '' */
.icon-foursquare-1:before { content: '\e910'; } /* '' */
.icon-freebsd:before { content: '\e911'; } /* '' */
.icon-free-code-camp-1:before { content: '\e912'; } /* '' */
.icon-get-pocket-1:before { content: '\e913'; } /* '' */
.icon-gg-1:before { content: '\e914'; } /* '' */
.icon-gg-circle-1:before { content: '\e915'; } /* '' */
.icon-git-1:before { content: '\e916'; } /* '' */
.icon-github-1:before { content: '\e917'; } /* '' */
.icon-github-alt:before { content: '\e918'; } /* '' */
.icon-github-square:before { content: '\e919'; } /* '' */
.icon-gitkraken:before { content: '\e91a'; } /* '' */
.icon-gitlab-1:before { content: '\e91b'; } /* '' */
.icon-git-square:before { content: '\e91c'; } /* '' */
.icon-gitter:before { content: '\e91d'; } /* '' */
.icon-glide-1:before { content: '\e91e'; } /* '' */
.icon-glide-g-1:before { content: '\e91f'; } /* '' */
.icon-gofore:before { content: '\e920'; } /* '' */
.icon-goodreads:before { content: '\e921'; } /* '' */
.icon-goodreads-g:before { content: '\e922'; } /* '' */
.icon-google-1:before { content: '\e923'; } /* '' */
.icon-google-drive:before { content: '\e924'; } /* '' */
.icon-google-play:before { content: '\e925'; } /* '' */
.icon-google-plus:before { content: '\e926'; } /* '' */
.icon-google-plus-g:before { content: '\e927'; } /* '' */
.icon-google-plus-square:before { content: '\e928'; } /* '' */
.icon-google-wallet:before { content: '\e929'; } /* '' */
.icon-gratipay:before { content: '\e92a'; } /* '' */
.icon-grav-1:before { content: '\e92b'; } /* '' */
.icon-gripfire:before { content: '\e92c'; } /* '' */
.icon-grunt:before { content: '\e92d'; } /* '' */
.icon-gulp:before { content: '\e92e'; } /* '' */
.icon-hacker-news-1:before { content: '\e92f'; } /* '' */
.icon-hacker-news-square:before { content: '\e930'; } /* '' */
.icon-hips:before { content: '\e931'; } /* '' */
.icon-hire-a-helper:before { content: '\e932'; } /* '' */
.icon-hooli:before { content: '\e933'; } /* '' */
.icon-hotjar:before { content: '\e934'; } /* '' */
.icon-houzz-1:before { content: '\e935'; } /* '' */
.icon-html5-1:before { content: '\e936'; } /* '' */
.icon-hubspot:before { content: '\e937'; } /* '' */
.icon-imdb-1:before { content: '\e938'; } /* '' */
.icon-instagram-1:before { content: '\e939'; } /* '' */
.icon-internet-explorer-1:before { content: '\e93a'; } /* '' */
.icon-ioxhost-1:before { content: '\e93b'; } /* '' */
.icon-itunes:before { content: '\e93c'; } /* '' */
.icon-itunes-note:before { content: '\e93d'; } /* '' */
.icon-java:before { content: '\e93e'; } /* '' */
.icon-jenkins:before { content: '\e93f'; } /* '' */
.icon-joget:before { content: '\e940'; } /* '' */
.icon-joomla-1:before { content: '\e941'; } /* '' */
.icon-js:before { content: '\e942'; } /* '' */
.icon-jsfiddle-1:before { content: '\e943'; } /* '' */
.icon-js-square:before { content: '\e944'; } /* '' */
.icon-keycdn:before { content: '\e945'; } /* '' */
.icon-kickstarter:before { content: '\e946'; } /* '' */
.icon-kickstarter-k:before { content: '\e947'; } /* '' */
.icon-korvue:before { content: '\e948'; } /* '' */
.icon-laravel:before { content: '\e949'; } /* '' */
.icon-lastfm-1:before { content: '\e94a'; } /* '' */
.icon-lastfm-square:before { content: '\e94b'; } /* '' */
.icon-leanpub-1:before { content: '\e94c'; } /* '' */
.icon-less:before { content: '\e94d'; } /* '' */
.icon-line:before { content: '\e94e'; } /* '' */
.icon-linkedin-1:before { content: '\e94f'; } /* '' */
.icon-linkedin-in:before { content: '\e950'; } /* '' */
.icon-linode-1:before { content: '\e951'; } /* '' */
.icon-linux-1:before { content: '\e952'; } /* '' */
.icon-lyft:before { content: '\e953'; } /* '' */
.icon-magento:before { content: '\e954'; } /* '' */
.icon-maxcdn-1:before { content: '\e955'; } /* '' */
.icon-medapps:before { content: '\e956'; } /* '' */
.icon-medium-1:before { content: '\e957'; } /* '' */
.icon-medium-m:before { content: '\e958'; } /* '' */
.icon-medrt:before { content: '\e959'; } /* '' */
.icon-meetup-1:before { content: '\e95a'; } /* '' */
.icon-microsoft:before { content: '\e95b'; } /* '' */
.icon-mix:before { content: '\e95c'; } /* '' */
.icon-mixcloud-1:before { content: '\e95d'; } /* '' */
.icon-mizuni:before { content: '\e95e'; } /* '' */
.icon-modx-1:before { content: '\e95f'; } /* '' */
.icon-monero:before { content: '\e960'; } /* '' */
.icon-napster:before { content: '\e961'; } /* '' */
.icon-nintendo-switch:before { content: '\e962'; } /* '' */
.icon-node:before { content: '\e963'; } /* '' */
.icon-node-js:before { content: '\e964'; } /* '' */
.icon-npm:before { content: '\e965'; } /* '' */
.icon-ns8:before { content: '\e966'; } /* '' */
.icon-nutritionix:before { content: '\e967'; } /* '' */
.icon-odnoklassniki-1:before { content: '\e968'; } /* '' */
.icon-odnoklassniki-square-1:before { content: '\e969'; } /* '' */
.icon-opencart-1:before { content: '\e96a'; } /* '' */
.icon-openid-1:before { content: '\e96b'; } /* '' */
.icon-opera-1:before { content: '\e96c'; } /* '' */
.icon-optin-monster-1:before { content: '\e96d'; } /* '' */
.icon-osi:before { content: '\e96e'; } /* '' */
.icon-page4:before { content: '\e96f'; } /* '' */
.icon-pagelines-1:before { content: '\e970'; } /* '' */
.icon-palfed:before { content: '\e971'; } /* '' */
.icon-patreon:before { content: '\e972'; } /* '' */
.icon-paypal-1:before { content: '\e973'; } /* '' */
.icon-periscope:before { content: '\e974'; } /* '' */
.icon-phabricator:before { content: '\e975'; } /* '' */
.icon-phoenix-framework:before { content: '\e976'; } /* '' */
.icon-php:before { content: '\e977'; } /* '' */
.icon-pied-piper-1:before { content: '\e978'; } /* '' */
.icon-pied-piper-alt-1:before { content: '\e979'; } /* '' */
.icon-pied-piper-hat:before { content: '\e97a'; } /* '' */
.icon-pied-piper-pp:before { content: '\e97b'; } /* '' */
.icon-pinterest-1:before { content: '\e97c'; } /* '' */
.icon-pinterest-p:before { content: '\e97d'; } /* '' */
.icon-pinterest-square:before { content: '\e97e'; } /* '' */
.icon-playstation:before { content: '\e97f'; } /* '' */
.icon-product-hunt-1:before { content: '\e980'; } /* '' */
.icon-pushed:before { content: '\e981'; } /* '' */
.icon-python:before { content: '\e982'; } /* '' */
.icon-qq-1:before { content: '\e983'; } /* '' */
.icon-quinscape:before { content: '\e984'; } /* '' */
.icon-quora-1:before { content: '\e985'; } /* '' */
.icon-ravelry-1:before { content: '\e986'; } /* '' */
.icon-react:before { content: '\e987'; } /* '' */
.icon-readme:before { content: '\e988'; } /* '' */
.icon-rebel-1:before { content: '\e989'; } /* '' */
.icon-reddit-1:before { content: '\e98a'; } /* '' */
.icon-reddit-alien-1:before { content: '\e98b'; } /* '' */
.icon-reddit-square:before { content: '\e98c'; } /* '' */
.icon-red-river:before { content: '\e98d'; } /* '' */
.icon-rendact:before { content: '\e98e'; } /* '' */
.icon-renren-1:before { content: '\e98f'; } /* '' */
.icon-replyd:before { content: '\e990'; } /* '' */
.icon-resolving:before { content: '\e991'; } /* '' */
.icon-rocketchat:before { content: '\e992'; } /* '' */
.icon-rockrms:before { content: '\e993'; } /* '' */
.icon-safari-1:before { content: '\e994'; } /* '' */
.icon-sass:before { content: '\e995'; } /* '' */
.icon-schlix:before { content: '\e996'; } /* '' */
.icon-scribd-1:before { content: '\e997'; } /* '' */
.icon-searchengin:before { content: '\e998'; } /* '' */
.icon-sellcast:before { content: '\e999'; } /* '' */
.icon-sellsy-1:before { content: '\e99a'; } /* '' */
.icon-servicestack:before { content: '\e99b'; } /* '' */
.icon-shirtsinbulk-1:before { content: '\e99c'; } /* '' */
.icon-simplybuilt-1:before { content: '\e99d'; } /* '' */
.icon-sistrix:before { content: '\e99e'; } /* '' */
.icon-skyatlas-1:before { content: '\e99f'; } /* '' */
.icon-skype-1:before { content: '\e9a0'; } /* '' */
.icon-slack-1:before { content: '\e9a1'; } /* '' */
.icon-slack-hash:before { content: '\e9a2'; } /* '' */
.icon-slideshare-1:before { content: '\e9a3'; } /* '' */
.icon-snapchat-1:before { content: '\e9a4'; } /* '' */
.icon-snapchat-ghost-1:before { content: '\e9a5'; } /* '' */
.icon-snapchat-square-1:before { content: '\e9a6'; } /* '' */
.icon-soundcloud-1:before { content: '\e9a7'; } /* '' */
.icon-speakap:before { content: '\e9a8'; } /* '' */
.icon-spotify-1:before { content: '\e9a9'; } /* '' */
.icon-stack-exchange:before { content: '\e9aa'; } /* '' */
.icon-stack-overflow:before { content: '\e9ab'; } /* '' */
.icon-staylinked:before { content: '\e9ac'; } /* '' */
.icon-steam-1:before { content: '\e9ad'; } /* '' */
.icon-steam-square:before { content: '\e9ae'; } /* '' */
.icon-steam-symbol:before { content: '\e9af'; } /* '' */
.icon-sticker-mule:before { content: '\e9b0'; } /* '' */
.icon-strava:before { content: '\e9b1'; } /* '' */
.icon-stripe:before { content: '\e9b2'; } /* '' */
.icon-stripe-s:before { content: '\e9b3'; } /* '' */
.icon-studiovinari:before { content: '\e9b4'; } /* '' */
.icon-stumbleupon-1:before { content: '\e9b5'; } /* '' */
.icon-stumbleupon-circle:before { content: '\e9b6'; } /* '' */
.icon-superpowers-1:before { content: '\e9b7'; } /* '' */
.icon-supple:before { content: '\e9b8'; } /* '' */
.icon-telegram-1:before { content: '\e9b9'; } /* '' */
.icon-telegram-plane:before { content: '\e9ba'; } /* '' */
.icon-tencent-weibo-1:before { content: '\e9bb'; } /* '' */
.icon-themeisle-1:before { content: '\e9bc'; } /* '' */
.icon-trello-1:before { content: '\e9bd'; } /* '' */
.icon-tripadvisor-1:before { content: '\e9be'; } /* '' */
.icon-tumblr-1:before { content: '\e9bf'; } /* '' */
.icon-tumblr-square:before { content: '\e9c0'; } /* '' */
.icon-twitch-1:before { content: '\e9c1'; } /* '' */
.icon-twitter-1:before { content: '\e9c2'; } /* '' */
.icon-twitter-square:before { content: '\e9c3'; } /* '' */
.icon-typo3:before { content: '\e9c4'; } /* '' */
.icon-uber:before { content: '\e9c5'; } /* '' */
.icon-uikit:before { content: '\e9c6'; } /* '' */
.icon-uniregistry:before { content: '\e9c7'; } /* '' */
.icon-untappd:before { content: '\e9c8'; } /* '' */
.icon-usb-1:before { content: '\e9c9'; } /* '' */
.icon-ussunnah:before { content: '\e9ca'; } /* '' */
.icon-vaadin:before { content: '\e9cb'; } /* '' */
.icon-viacoin-1:before { content: '\e9cc'; } /* '' */
.icon-viadeo-1:before { content: '\e9cd'; } /* '' */
.icon-viadeo-square-1:before { content: '\e9ce'; } /* '' */
.icon-viber:before { content: '\e9cf'; } /* '' */
.icon-vimeo-1:before { content: '\e9d0'; } /* '' */
.icon-vimeo-square:before { content: '\e9d1'; } /* '' */
.icon-vimeo-v:before { content: '\e9d2'; } /* '' */
.icon-vine-1:before { content: '\e9d3'; } /* '' */
.icon-vk:before { content: '\e9d4'; } /* '' */
.icon-vnv:before { content: '\e9d5'; } /* '' */
.icon-vuejs:before { content: '\e9d6'; } /* '' */
.icon-weibo-1:before { content: '\e9d7'; } /* '' */
.icon-weixin:before { content: '\e9d8'; } /* '' */
.icon-whatsapp-1:before { content: '\e9d9'; } /* '' */
.icon-whatsapp-square:before { content: '\e9da'; } /* '' */
.icon-whmcs:before { content: '\e9db'; } /* '' */
.icon-wikipedia-w-1:before { content: '\e9dc'; } /* '' */
.icon-windows-1:before { content: '\e9dd'; } /* '' */
.icon-wordpress-1:before { content: '\e9de'; } /* '' */
.icon-wordpress-simple:before { content: '\e9df'; } /* '' */
.icon-wpbeginner-1:before { content: '\e9e0'; } /* '' */
.icon-wpexplorer-1:before { content: '\e9e1'; } /* '' */
.icon-wpforms-1:before { content: '\e9e2'; } /* '' */
.icon-xbox:before { content: '\e9e3'; } /* '' */
.icon-xing-1:before { content: '\e9e4'; } /* '' */
.icon-xing-square:before { content: '\e9e5'; } /* '' */
.icon-yahoo-1:before { content: '\e9e6'; } /* '' */
.icon-yandex:before { content: '\e9e7'; } /* '' */
.icon-yandex-international:before { content: '\e9e8'; } /* '' */
.icon-y-combinator-1:before { content: '\e9e9'; } /* '' */
.icon-yelp-1:before { content: '\e9ea'; } /* '' */
.icon-yoast-1:before { content: '\e9eb'; } /* '' */
.icon-youtube-1:before { content: '\e9ec'; } /* '' */
.icon-youtube-square:before { content: '\e9ed'; } /* '' */
.icon-address-card-1:before { content: '\e9ee'; } /* '' */
.icon-arrow-alt-circle-down:before { content: '\e9ef'; } /* '' */
.icon-arrow-alt-circle-left:before { content: '\e9f0'; } /* '' */
.icon-arrow-alt-circle-right:before { content: '\e9f1'; } /* '' */
.icon-arrow-alt-circle-up:before { content: '\e9f2'; } /* '' */
.icon-bell-1:before { content: '\e9f3'; } /* '' */
.icon-bell-slash:before { content: '\e9f4'; } /* '' */
.icon-bookmark-1:before { content: '\e9f5'; } /* '' */
.icon-building-1:before { content: '\e9f6'; } /* '' */
.icon-calendar-1:before { content: '\e9f7'; } /* '' */
.icon-calendar-alt:before { content: '\e9f8'; } /* '' */
.icon-calendar-check:before { content: '\e9f9'; } /* '' */
.icon-calendar-minus:before { content: '\e9fa'; } /* '' */
.icon-calendar-plus:before { content: '\e9fb'; } /* '' */
.icon-calendar-times:before { content: '\e9fc'; } /* '' */
.icon-caret-square-down:before { content: '\e9fd'; } /* '' */
.icon-caret-square-left:before { content: '\e9fe'; } /* '' */
.icon-caret-square-right:before { content: '\e9ff'; } /* '' */
.icon-caret-square-up:before { content: '\ea00'; } /* '' */
.icon-chart-bar-1:before { content: '\ea01'; } /* '' */
.icon-check-circle:before { content: '\ea02'; } /* '' */
.icon-check-square:before { content: '\ea03'; } /* '' */
.icon-circle-1:before { content: '\ea04'; } /* '' */
.icon-clipboard:before { content: '\ea05'; } /* '' */
.icon-clock-1:before { content: '\ea06'; } /* '' */
.icon-clone-1:before { content: '\ea07'; } /* '' */
.icon-closed-captioning:before { content: '\ea08'; } /* '' */
.icon-comment-1:before { content: '\ea09'; } /* '' */
.icon-comment-alt:before { content: '\ea0a'; } /* '' */
.icon-comments:before { content: '\ea0b'; } /* '' */
.icon-compass-1:before { content: '\ea0c'; } /* '' */
.icon-copy:before { content: '\ea0d'; } /* '' */
.icon-copyright-1:before { content: '\ea0e'; } /* '' */
.icon-credit-card-1:before { content: '\ea0f'; } /* '' */
.icon-dot-circle:before { content: '\ea10'; } /* '' */
.icon-edit-1:before { content: '\ea11'; } /* '' */
.icon-envelope:before { content: '\ea12'; } /* '' */
.icon-envelope-open-1:before { content: '\ea13'; } /* '' */
.icon-eye-slash:before { content: '\ea14'; } /* '' */
.icon-file:before { content: '\ea15'; } /* '' */
.icon-file-alt:before { content: '\ea16'; } /* '' */
.icon-file-archive-1:before { content: '\ea17'; } /* '' */
.icon-file-audio-1:before { content: '\ea18'; } /* '' */
.icon-file-code-1:before { content: '\ea19'; } /* '' */
.icon-file-excel-1:before { content: '\ea1a'; } /* '' */
.icon-file-image-1:before { content: '\ea1b'; } /* '' */
.icon-file-pdf-1:before { content: '\ea1c'; } /* '' */
.icon-file-powerpoint-1:before { content: '\ea1d'; } /* '' */
.icon-file-video-1:before { content: '\ea1e'; } /* '' */
.icon-file-word-1:before { content: '\ea1f'; } /* '' */
.icon-flag-1:before { content: '\ea20'; } /* '' */
.icon-folder-1:before { content: '\ea21'; } /* '' */
.icon-folder-open-1:before { content: '\ea22'; } /* '' */
.icon-frown-1:before { content: '\ea23'; } /* '' */
.icon-futbol:before { content: '\ea24'; } /* '' */
.icon-gem:before { content: '\ea25'; } /* '' */
.icon-hand-lizard:before { content: '\ea26'; } /* '' */
.icon-hand-paper:before { content: '\ea27'; } /* '' */
.icon-hand-peace:before { content: '\ea28'; } /* '' */
.icon-hand-point-down:before { content: '\ea29'; } /* '' */
.icon-hand-pointer:before { content: '\ea2a'; } /* '' */
.icon-hand-point-left:before { content: '\ea2b'; } /* '' */
.icon-hand-point-right:before { content: '\ea2c'; } /* '' */
.icon-hand-point-up:before { content: '\ea2d'; } /* '' */
.icon-hand-rock:before { content: '\ea2e'; } /* '' */
.icon-hand-scissors:before { content: '\ea2f'; } /* '' */
.icon-handshake:before { content: '\ea30'; } /* '' */
.icon-hand-spock:before { content: '\ea31'; } /* '' */
.icon-hdd-1:before { content: '\ea32'; } /* '' */
.icon-heart-1:before { content: '\ea33'; } /* '' */
.icon-hospital-1:before { content: '\ea34'; } /* '' */
.icon-hourglass-4:before { content: '\ea35'; } /* '' */
.icon-id-badge-1:before { content: '\ea36'; } /* '' */
.icon-id-card-1:before { content: '\ea37'; } /* '' */
.icon-image:before { content: '\ea38'; } /* '' */
.icon-images:before { content: '\ea39'; } /* '' */
.icon-keyboard-2:before { content: '\ea3a'; } /* '' */
.icon-lemon-1:before { content: '\ea3b'; } /* '' */
.icon-life-ring:before { content: '\ea3c'; } /* '' */
.icon-lightbulb-1:before { content: '\ea3d'; } /* '' */
.icon-list-alt-1:before { content: '\ea3e'; } /* '' */
.icon-map-1:before { content: '\ea3f'; } /* '' */
.icon-meh-1:before { content: '\ea40'; } /* '' */
.icon-minus-square:before { content: '\ea41'; } /* '' */
.icon-money-bill-alt:before { content: '\ea42'; } /* '' */
.icon-moon-1:before { content: '\ea43'; } /* '' */
.icon-newspaper-1:before { content: '\ea44'; } /* '' */
.icon-object-group-1:before { content: '\ea45'; } /* '' */
.icon-object-ungroup-1:before { content: '\ea46'; } /* '' */
.icon-paper-plane-1:before { content: '\ea47'; } /* '' */
.icon-pause-circle-1:before { content: '\ea48'; } /* '' */
.icon-play-circle:before { content: '\ea49'; } /* '' */
.icon-plus-square:before { content: '\ea4a'; } /* '' */
.icon-question-circle:before { content: '\ea4b'; } /* '' */
.icon-registered-1:before { content: '\ea4c'; } /* '' */
.icon-save:before { content: '\ea4d'; } /* '' */
.icon-share-square:before { content: '\ea4e'; } /* '' */
.icon-smile-1:before { content: '\ea4f'; } /* '' */
.icon-snowflake:before { content: '\ea50'; } /* '' */
.icon-square:before { content: '\ea51'; } /* '' */
.icon-star-1:before { content: '\ea52'; } /* '' */
.icon-star-half-1:before { content: '\ea53'; } /* '' */
.icon-sticky-note-1:before { content: '\ea54'; } /* '' */
.icon-stop-circle-1:before { content: '\ea55'; } /* '' */
.icon-sun-1:before { content: '\ea56'; } /* '' */
.icon-thumbs-down-1:before { content: '\ea57'; } /* '' */
.icon-thumbs-up-1:before { content: '\ea58'; } /* '' */
.icon-times-circle:before { content: '\ea59'; } /* '' */
.icon-trash-alt:before { content: '\ea5a'; } /* '' */
.icon-user-1:before { content: '\ea5b'; } /* '' */
.icon-user-circle-1:before { content: '\ea5c'; } /* '' */
.icon-window-close-1:before { content: '\ea5d'; } /* '' */
.icon-window-maximize-1:before { content: '\ea5e'; } /* '' */
.icon-window-minimize-1:before { content: '\ea5f'; } /* '' */
.icon-window-restore-1:before { content: '\ea60'; } /* '' */
.icon-address-book-1:before { content: '\ea61'; } /* '' */
.icon-chart-line-1:before { content: '\ea62'; } /* '' */
.icon-chart-pie-1:before { content: '\ea63'; } /* '' */
.icon-check-1:before { content: '\ea64'; } /* '' */
.icon-check-circle-1:before { content: '\ea65'; } /* '' */
.icon-check-square-1:before { content: '\ea66'; } /* '' */
.icon-chess:before { content: '\ea67'; } /* '' */
.icon-chess-bishop:before { content: '\ea68'; } /* '' */
.icon-chess-board:before { content: '\ea69'; } /* '' */
.icon-chess-king:before { content: '\ea6a'; } /* '' */
.icon-chess-knight:before { content: '\ea6b'; } /* '' */
.icon-chess-pawn:before { content: '\ea6c'; } /* '' */
.icon-chess-queen:before { content: '\ea6d'; } /* '' */
.icon-chess-rook:before { content: '\ea6e'; } /* '' */
.icon-chevron-circle-down:before { content: '\ea6f'; } /* '' */
.icon-chevron-circle-left:before { content: '\ea70'; } /* '' */
.icon-chevron-circle-right:before { content: '\ea71'; } /* '' */
.icon-chevron-circle-up:before { content: '\ea72'; } /* '' */
.icon-chevron-down:before { content: '\ea73'; } /* '' */
.icon-chevron-left:before { content: '\ea74'; } /* '' */
.icon-chevron-right:before { content: '\ea75'; } /* '' */
.icon-chevron-up:before { content: '\ea76'; } /* '' */
.icon-child-1:before { content: '\ea77'; } /* '' */
.icon-circle-2:before { content: '\ea78'; } /* '' */
.icon-circle-notch-1:before { content: '\ea79'; } /* '' */
.icon-clipboard-1:before { content: '\ea7a'; } /* '' */
.icon-clipboard-check:before { content: '\ea7b'; } /* '' */
.icon-clipboard-list:before { content: '\ea7c'; } /* '' */
.icon-clock-2:before { content: '\ea7d'; } /* '' */
.icon-clone-2:before { content: '\ea7e'; } /* '' */
.icon-closed-captioning-1:before { content: '\ea7f'; } /* '' */
.icon-cloud-1:before { content: '\ea80'; } /* '' */
.icon-cloud-download-alt:before { content: '\ea81'; } /* '' */
.icon-cloud-upload-alt:before { content: '\ea82'; } /* '' */
.icon-code-1:before { content: '\ea83'; } /* '' */
.icon-code-branch:before { content: '\ea84'; } /* '' */
.icon-coffee-1:before { content: '\ea85'; } /* '' */
.icon-cog-1:before { content: '\ea86'; } /* '' */
.icon-cogs:before { content: '\ea87'; } /* '' */
.icon-columns-1:before { content: '\ea88'; } /* '' */
.icon-comment-2:before { content: '\ea89'; } /* '' */
.icon-comment-alt-1:before { content: '\ea8a'; } /* '' */
.icon-comment-dots:before { content: '\ea8b'; } /* '' */
.icon-comments-1:before { content: '\ea8c'; } /* '' */
.icon-comment-slash:before { content: '\ea8d'; } /* '' */
.icon-compass-2:before { content: '\ea8e'; } /* '' */
.icon-compress:before { content: '\ea8f'; } /* '' */
.icon-copy-1:before { content: '\ea90'; } /* '' */
.icon-copyright-2:before { content: '\ea91'; } /* '' */
.icon-couch:before { content: '\ea92'; } /* '' */
.icon-credit-card-2:before { content: '\ea93'; } /* '' */
.icon-crop-1:before { content: '\ea94'; } /* '' */
.icon-crosshairs:before { content: '\ea95'; } /* '' */
.icon-cube-1:before { content: '\ea96'; } /* '' */
.icon-cubes-1:before { content: '\ea97'; } /* '' */
.icon-cut:before { content: '\ea98'; } /* '' */
.icon-database-1:before { content: '\ea99'; } /* '' */
.icon-deaf:before { content: '\ea9a'; } /* '' */
.icon-desktop-1:before { content: '\ea9b'; } /* '' */
.icon-diagnoses:before { content: '\ea9c'; } /* '' */
.icon-dna:before { content: '\ea9d'; } /* '' */
.icon-dollar-sign:before { content: '\ea9e'; } /* '' */
.icon-dolly:before { content: '\ea9f'; } /* '' */
.icon-dolly-flatbed:before { content: '\eaa0'; } /* '' */
.icon-donate:before { content: '\eaa1'; } /* '' */
.icon-dot-circle-1:before { content: '\eaa2'; } /* '' */
.icon-dove:before { content: '\eaa3'; } /* '' */
.icon-download-1:before { content: '\eaa4'; } /* '' */
.icon-edit-2:before { content: '\eaa5'; } /* '' */
.icon-eject-1:before { content: '\eaa6'; } /* '' */
.icon-ellipsis-h:before { content: '\eaa7'; } /* '' */
.icon-ellipsis-v:before { content: '\eaa8'; } /* '' */
.icon-envelope-1:before { content: '\eaa9'; } /* '' */
.icon-envelope-open-2:before { content: '\eaaa'; } /* '' */
.icon-envelope-square:before { content: '\eaab'; } /* '' */
.icon-eraser-1:before { content: '\eaac'; } /* '' */
.icon-euro-sign:before { content: '\eaad'; } /* '' */
.icon-exchange-alt:before { content: '\eaae'; } /* '' */
.icon-exclamation:before { content: '\eaaf'; } /* '' */
.icon-exclamation-circle:before { content: '\eab0'; } /* '' */
.icon-exclamation-triangle:before { content: '\eab1'; } /* '' */
.icon-expand-1:before { content: '\eab2'; } /* '' */
.icon-expand-arrows-alt:before { content: '\eab3'; } /* '' */
.icon-external-link-alt:before { content: '\eab4'; } /* '' */
.icon-external-link-square-alt:before { content: '\eab5'; } /* '' */
.icon-eye-1:before { content: '\eab6'; } /* '' */
.icon-eye-dropper:before { content: '\eab7'; } /* '' */
.icon-eye-slash-1:before { content: '\eab8'; } /* '' */
.icon-fast-backward:before { content: '\eab9'; } /* '' */
.icon-fast-forward:before { content: '\eaba'; } /* '' */
.icon-fax-1:before { content: '\eabb'; } /* '' */
.icon-female-1:before { content: '\eabc'; } /* '' */
.icon-fighter-jet-1:before { content: '\eabd'; } /* '' */
.icon-file-1:before { content: '\eabe'; } /* '' */
.icon-file-alt-1:before { content: '\eabf'; } /* '' */
.icon-file-archive-2:before { content: '\eac0'; } /* '' */
.icon-file-audio-2:before { content: '\eac1'; } /* '' */
.icon-file-code-2:before { content: '\eac2'; } /* '' */
.icon-file-excel-2:before { content: '\eac3'; } /* '' */
.icon-file-image-2:before { content: '\eac4'; } /* '' */
.icon-file-medical:before { content: '\eac5'; } /* '' */
.icon-file-medical-alt:before { content: '\eac6'; } /* '' */
.icon-file-pdf-2:before { content: '\eac7'; } /* '' */
.icon-file-powerpoint-2:before { content: '\eac8'; } /* '' */
.icon-file-video-2:before { content: '\eac9'; } /* '' */
.icon-file-word-2:before { content: '\eaca'; } /* '' */
.icon-film:before { content: '\eacb'; } /* '' */
.icon-filter-1:before { content: '\eacc'; } /* '' */
.icon-fire-1:before { content: '\eacd'; } /* '' */
.icon-fire-extinguisher:before { content: '\eace'; } /* '' */
.icon-first-aid:before { content: '\eacf'; } /* '' */
.icon-flag-2:before { content: '\ead0'; } /* '' */
.icon-flag-checkered-1:before { content: '\ead1'; } /* '' */
.icon-flask:before { content: '\ead2'; } /* '' */
.icon-folder-2:before { content: '\ead3'; } /* '' */
.icon-folder-open-2:before { content: '\ead4'; } /* '' */
.icon-font-1:before { content: '\ead5'; } /* '' */
.icon-football-ball:before { content: '\ead6'; } /* '' */
.icon-forward-1:before { content: '\ead7'; } /* '' */
.icon-frown-2:before { content: '\ead8'; } /* '' */
.icon-futbol-1:before { content: '\ead9'; } /* '' */
.icon-gamepad-1:before { content: '\eada'; } /* '' */
.icon-gavel:before { content: '\eadb'; } /* '' */
.icon-gem-1:before { content: '\eadc'; } /* '' */
.icon-genderless-1:before { content: '\eadd'; } /* '' */
.icon-gift-1:before { content: '\eade'; } /* '' */
.icon-glass-martini:before { content: '\eadf'; } /* '' */
.icon-globe-1:before { content: '\eae0'; } /* '' */
.icon-golf-ball:before { content: '\eae1'; } /* '' */
.icon-graduation-cap-1:before { content: '\eae2'; } /* '' */
.icon-hand-holding:before { content: '\eae3'; } /* '' */
.icon-hand-holding-heart:before { content: '\eae4'; } /* '' */
.icon-hand-holding-usd:before { content: '\eae5'; } /* '' */
.icon-hand-lizard-1:before { content: '\eae6'; } /* '' */
.icon-hand-paper-1:before { content: '\eae7'; } /* '' */
.icon-hand-peace-1:before { content: '\eae8'; } /* '' */
.icon-hand-point-down-1:before { content: '\eae9'; } /* '' */
.icon-hand-pointer-1:before { content: '\eaea'; } /* '' */
.icon-hand-point-left-1:before { content: '\eaeb'; } /* '' */
.icon-hand-point-right-1:before { content: '\eaec'; } /* '' */
.icon-hand-point-up-1:before { content: '\eaed'; } /* '' */
.icon-hand-rock-1:before { content: '\eaee'; } /* '' */
.icon-hands:before { content: '\eaef'; } /* '' */
.icon-hand-scissors-1:before { content: '\eaf0'; } /* '' */
.icon-handshake-1:before { content: '\eaf1'; } /* '' */
.icon-hands-helping:before { content: '\eaf2'; } /* '' */
.icon-hand-spock-1:before { content: '\eaf3'; } /* '' */
.icon-hashtag-1:before { content: '\eaf4'; } /* '' */
.icon-hdd-2:before { content: '\eaf5'; } /* '' */
.icon-heading:before { content: '\eaf6'; } /* '' */
.icon-headphones-1:before { content: '\eaf7'; } /* '' */
.icon-heart-2:before { content: '\eaf8'; } /* '' */
.icon-heartbeat-1:before { content: '\eaf9'; } /* '' */
.icon-history-1:before { content: '\eafa'; } /* '' */
.icon-hockey-puck:before { content: '\eafb'; } /* '' */
.icon-home-1:before { content: '\eafc'; } /* '' */
.icon-hospital-2:before { content: '\eafd'; } /* '' */
.icon-hospital-alt:before { content: '\eafe'; } /* '' */
.icon-hospital-symbol:before { content: '\eaff'; } /* '' */
.icon-hourglass-5:before { content: '\eb00'; } /* '' */
.icon-hourglass-end:before { content: '\eb01'; } /* '' */
.icon-hourglass-half:before { content: '\eb02'; } /* '' */
.icon-hourglass-start:before { content: '\eb03'; } /* '' */
.icon-h-square:before { content: '\eb04'; } /* '' */
.icon-i-cursor-1:before { content: '\eb05'; } /* '' */
.icon-id-badge-2:before { content: '\eb06'; } /* '' */
.icon-id-card-2:before { content: '\eb07'; } /* '' */
.icon-id-card-alt:before { content: '\eb08'; } /* '' */
.icon-image-1:before { content: '\eb09'; } /* '' */
.icon-images-1:before { content: '\eb0a'; } /* '' */
.icon-inbox-1:before { content: '\eb0b'; } /* '' */
.icon-indent:before { content: '\eb0c'; } /* '' */
.icon-industry-1:before { content: '\eb0d'; } /* '' */
.icon-info-1:before { content: '\eb0e'; } /* '' */
.icon-info-circle:before { content: '\eb0f'; } /* '' */
.icon-italic-1:before { content: '\eb10'; } /* '' */
.icon-key-2:before { content: '\eb11'; } /* '' */
.icon-keyboard-3:before { content: '\eb12'; } /* '' */
.icon-language-1:before { content: '\eb13'; } /* '' */
.icon-laptop-1:before { content: '\eb14'; } /* '' */
.icon-leaf-1:before { content: '\eb15'; } /* '' */
.icon-lemon-2:before { content: '\eb16'; } /* '' */
.icon-level-down-alt:before { content: '\eb17'; } /* '' */
.icon-level-up-alt:before { content: '\eb18'; } /* '' */
.icon-life-ring-1:before { content: '\eb19'; } /* '' */
.icon-lightbulb-2:before { content: '\eb1a'; } /* '' */
.icon-link-1:before { content: '\eb1b'; } /* '' */
.icon-lira-sign:before { content: '\eb1c'; } /* '' */
.icon-list-1:before { content: '\eb1d'; } /* '' */
.icon-list-alt-2:before { content: '\eb1e'; } /* '' */
.icon-list-ol:before { content: '\eb1f'; } /* '' */
.icon-list-ul:before { content: '\eb20'; } /* '' */
.icon-location-arrow:before { content: '\eb21'; } /* '' */
.icon-lock-1:before { content: '\eb22'; } /* '' */
.icon-lock-open-1:before { content: '\eb23'; } /* '' */
.icon-long-arrow-alt-down:before { content: '\eb24'; } /* '' */
.icon-long-arrow-alt-left:before { content: '\eb25'; } /* '' */
.icon-long-arrow-alt-right:before { content: '\eb26'; } /* '' */
.icon-long-arrow-alt-up:before { content: '\eb27'; } /* '' */
.icon-low-vision-1:before { content: '\eb28'; } /* '' */
.icon-magic-1:before { content: '\eb29'; } /* '' */
.icon-magnet-1:before { content: '\eb2a'; } /* '' */
.icon-male-1:before { content: '\eb2b'; } /* '' */
.icon-map-2:before { content: '\eb2c'; } /* '' */
.icon-map-marker:before { content: '\eb2d'; } /* '' */
.icon-map-marker-alt:before { content: '\eb2e'; } /* '' */
.icon-map-pin-1:before { content: '\eb2f'; } /* '' */
.icon-map-signs-1:before { content: '\eb30'; } /* '' */
.icon-mars-1:before { content: '\eb31'; } /* '' */
.icon-mars-double-1:before { content: '\eb32'; } /* '' */
.icon-mars-stroke-1:before { content: '\eb33'; } /* '' */
.icon-mars-stroke-h-1:before { content: '\eb34'; } /* '' */
.icon-mars-stroke-v-1:before { content: '\eb35'; } /* '' */
.icon-medkit-1:before { content: '\eb36'; } /* '' */
.icon-meh-2:before { content: '\eb37'; } /* '' */
.icon-mercury-1:before { content: '\eb38'; } /* '' */
.icon-microchip-1:before { content: '\eb39'; } /* '' */
.icon-microphone:before { content: '\eb3a'; } /* '' */
.icon-microphone-slash:before { content: '\eb3b'; } /* '' */
.icon-minus-1:before { content: '\eb3c'; } /* '' */
.icon-minus-circle:before { content: '\eb3d'; } /* '' */
.icon-minus-square-1:before { content: '\eb3e'; } /* '' */
.icon-mobile-1:before { content: '\eb3f'; } /* '' */
.icon-mobile-alt:before { content: '\eb40'; } /* '' */
.icon-money-bill-alt-1:before { content: '\eb41'; } /* '' */
.icon-moon-2:before { content: '\eb42'; } /* '' */
.icon-motorcycle-1:before { content: '\eb43'; } /* '' */
.icon-mouse-pointer-1:before { content: '\eb44'; } /* '' */
.icon-music-1:before { content: '\eb45'; } /* '' */
.icon-neuter-1:before { content: '\eb46'; } /* '' */
.icon-newspaper-2:before { content: '\eb47'; } /* '' */
.icon-notes-medical:before { content: '\eb48'; } /* '' */
.icon-object-group-2:before { content: '\eb49'; } /* '' */
.icon-object-ungroup-2:before { content: '\eb4a'; } /* '' */
.icon-outdent:before { content: '\eb4b'; } /* '' */
.icon-paint-brush:before { content: '\eb4c'; } /* '' */
.icon-pallet:before { content: '\eb4d'; } /* '' */
.icon-paperclip:before { content: '\eb4e'; } /* '' */
.icon-paper-plane-2:before { content: '\eb4f'; } /* '' */
.icon-parachute-box:before { content: '\eb50'; } /* '' */
.icon-paragraph-1:before { content: '\eb51'; } /* '' */
.icon-paste-1:before { content: '\eb52'; } /* '' */
.icon-pause-1:before { content: '\eb53'; } /* '' */
.icon-pause-circle-2:before { content: '\eb54'; } /* '' */
.icon-paw-1:before { content: '\eb55'; } /* '' */
.icon-pencil-alt:before { content: '\eb56'; } /* '' */
.icon-pen-square:before { content: '\eb57'; } /* '' */
.icon-people-carry:before { content: '\eb58'; } /* '' */
.icon-percent-1:before { content: '\eb59'; } /* '' */
.icon-phone-1:before { content: '\eb5a'; } /* '' */
.icon-phone-slash:before { content: '\eb5b'; } /* '' */
.icon-phone-square:before { content: '\eb5c'; } /* '' */
.icon-phone-volume:before { content: '\eb5d'; } /* '' */
.icon-piggy-bank:before { content: '\eb5e'; } /* '' */
.icon-pills:before { content: '\eb5f'; } /* '' */
.icon-plane:before { content: '\eb60'; } /* '' */
.icon-play-1:before { content: '\eb61'; } /* '' */
.icon-play-circle-1:before { content: '\eb62'; } /* '' */
.icon-plug-1:before { content: '\eb63'; } /* '' */
.icon-plus-1:before { content: '\eb64'; } /* '' */
.icon-plus-circle:before { content: '\eb65'; } /* '' */
.icon-plus-square-1:before { content: '\eb66'; } /* '' */
.icon-podcast-1:before { content: '\eb67'; } /* '' */
.icon-poo:before { content: '\eb68'; } /* '' */
.icon-pound-sign:before { content: '\eb69'; } /* '' */
.icon-power-off:before { content: '\eb6a'; } /* '' */
.icon-prescription-bottle:before { content: '\eb6b'; } /* '' */
.icon-prescription-bottle-alt:before { content: '\eb6c'; } /* '' */
.icon-print-1:before { content: '\eb6d'; } /* '' */
.icon-procedures:before { content: '\eb6e'; } /* '' */
.icon-puzzle-piece:before { content: '\eb6f'; } /* '' */
.icon-qrcode-1:before { content: '\eb70'; } /* '' */
.icon-question:before { content: '\eb71'; } /* '' */
.icon-question-circle-1:before { content: '\eb72'; } /* '' */
.icon-quidditch:before { content: '\eb73'; } /* '' */
.icon-quote-left-1:before { content: '\eb74'; } /* '' */
.icon-quote-right-1:before { content: '\eb75'; } /* '' */
.icon-random:before { content: '\eb76'; } /* '' */
.icon-recycle-1:before { content: '\eb77'; } /* '' */
.icon-redo:before { content: '\eb78'; } /* '' */
.icon-redo-alt:before { content: '\eb79'; } /* '' */
.icon-registered-2:before { content: '\eb7a'; } /* '' */
.icon-reply-1:before { content: '\eb7b'; } /* '' */
.icon-reply-all-1:before { content: '\eb7c'; } /* '' */
.icon-retweet-1:before { content: '\eb7d'; } /* '' */
.icon-ribbon:before { content: '\eb7e'; } /* '' */
.icon-road-1:before { content: '\eb7f'; } /* '' */
.icon-rocket-1:before { content: '\eb80'; } /* '' */
.icon-rss-1:before { content: '\eb81'; } /* '' */
.icon-rss-square:before { content: '\eb82'; } /* '' */
.icon-ruble-sign:before { content: '\eb83'; } /* '' */
.icon-rupee-sign:before { content: '\eb84'; } /* '' */
.icon-save-1:before { content: '\eb85'; } /* '' */
.icon-search-1:before { content: '\eb86'; } /* '' */
.icon-search-minus:before { content: '\eb87'; } /* '' */
.icon-search-plus:before { content: '\eb88'; } /* '' */
.icon-seedling:before { content: '\eb89'; } /* '' */
.icon-server-1:before { content: '\eb8a'; } /* '' */
.icon-share-1:before { content: '\eb8b'; } /* '' */
.icon-share-alt:before { content: '\eb8c'; } /* '' */
.icon-share-alt-square:before { content: '\eb8d'; } /* '' */
.icon-share-square-1:before { content: '\eb8e'; } /* '' */
.icon-shekel-sign:before { content: '\eb8f'; } /* '' */
.icon-shield-alt:before { content: '\eb90'; } /* '' */
.icon-ship-1:before { content: '\eb91'; } /* '' */
.icon-shipping-fast:before { content: '\eb92'; } /* '' */
.icon-shopping-bag-1:before { content: '\eb93'; } /* '' */
.icon-shopping-basket-1:before { content: '\eb94'; } /* '' */
.icon-shopping-cart:before { content: '\eb95'; } /* '' */
.icon-shower-1:before { content: '\eb96'; } /* '' */
.icon-sign:before { content: '\eb97'; } /* '' */
.icon-signal-1:before { content: '\eb98'; } /* '' */
.icon-sign-in-alt:before { content: '\eb99'; } /* '' */
.icon-sign-language-1:before { content: '\eb9a'; } /* '' */
.icon-sign-out-alt:before { content: '\eb9b'; } /* '' */
.icon-sitemap-1:before { content: '\eb9c'; } /* '' */
.icon-sliders-h:before { content: '\eb9d'; } /* '' */
.icon-smile-2:before { content: '\eb9e'; } /* '' */
.icon-smoking:before { content: '\eb9f'; } /* '' */
.icon-snowflake-1:before { content: '\eba0'; } /* '' */
.icon-sort-1:before { content: '\eba1'; } /* '' */
.icon-sort-alpha-down:before { content: '\eba2'; } /* '' */
.icon-sort-alpha-up:before { content: '\eba3'; } /* '' */
.icon-sort-amount-down:before { content: '\eba4'; } /* '' */
.icon-sort-amount-up:before { content: '\eba5'; } /* '' */
.icon-sort-down-1:before { content: '\eba6'; } /* '' */
.icon-sort-numeric-down:before { content: '\eba7'; } /* '' */
.icon-sort-numeric-up:before { content: '\eba8'; } /* '' */
.icon-sort-up-1:before { content: '\eba9'; } /* '' */
.icon-space-shuttle-1:before { content: '\ebaa'; } /* '' */
.icon-spinner-1:before { content: '\ebab'; } /* '' */
.icon-square-1:before { content: '\ebac'; } /* '' */
.icon-square-full:before { content: '\ebad'; } /* '' */
.icon-star-2:before { content: '\ebae'; } /* '' */
.icon-star-half-2:before { content: '\ebaf'; } /* '' */
.icon-step-backward:before { content: '\ebb0'; } /* '' */
.icon-step-forward:before { content: '\ebb1'; } /* '' */
.icon-stethoscope-1:before { content: '\ebb2'; } /* '' */
.icon-sticky-note-2:before { content: '\ebb3'; } /* '' */
.icon-stop-1:before { content: '\ebb4'; } /* '' */
.icon-stop-circle-2:before { content: '\ebb5'; } /* '' */
.icon-stopwatch:before { content: '\ebb6'; } /* '' */
.icon-street-view-1:before { content: '\ebb7'; } /* '' */
.icon-strikethrough:before { content: '\ebb8'; } /* '' */
.icon-subscript-1:before { content: '\ebb9'; } /* '' */
.icon-subway-1:before { content: '\ebba'; } /* '' */
.icon-suitcase-1:before { content: '\ebbb'; } /* '' */
.icon-sun-2:before { content: '\ebbc'; } /* '' */
.icon-superscript-1:before { content: '\ebbd'; } /* '' */
.icon-sync:before { content: '\ebbe'; } /* '' */
.icon-sync-alt:before { content: '\ebbf'; } /* '' */
.icon-syringe:before { content: '\ebc0'; } /* '' */
.icon-table-1:before { content: '\ebc1'; } /* '' */
.icon-tablet-1:before { content: '\ebc2'; } /* '' */
.icon-tablet-alt:before { content: '\ebc3'; } /* '' */
.icon-table-tennis:before { content: '\ebc4'; } /* '' */
.icon-tablets:before { content: '\ebc5'; } /* '' */
.icon-tachometer-alt:before { content: '\ebc6'; } /* '' */
.icon-tag-1:before { content: '\ebc7'; } /* '' */
.icon-tags-1:before { content: '\ebc8'; } /* '' */
.icon-tape:before { content: '\ebc9'; } /* '' */
.icon-tasks-1:before { content: '\ebca'; } /* '' */
.icon-taxi-1:before { content: '\ebcb'; } /* '' */
.icon-terminal-1:before { content: '\ebcc'; } /* '' */
.icon-text-height-1:before { content: '\ebcd'; } /* '' */
.icon-text-width-1:before { content: '\ebce'; } /* '' */
.icon-th-1:before { content: '\ebcf'; } /* '' */
.icon-thermometer-1:before { content: '\ebd0'; } /* '' */
.icon-thermometer-empty:before { content: '\ebd1'; } /* '' */
.icon-thermometer-full:before { content: '\ebd2'; } /* '' */
.icon-thermometer-half:before { content: '\ebd3'; } /* '' */
.icon-thermometer-quarter-1:before { content: '\ebd4'; } /* '' */
.icon-thermometer-three-quarters:before { content: '\ebd5'; } /* '' */
.icon-th-large-1:before { content: '\ebd6'; } /* '' */
.icon-th-list-1:before { content: '\ebd7'; } /* '' */
.icon-thumbs-down-2:before { content: '\ebd8'; } /* '' */
.icon-thumbs-up-2:before { content: '\ebd9'; } /* '' */
.icon-thumbtack:before { content: '\ebda'; } /* '' */
.icon-ticket-alt:before { content: '\ebdb'; } /* '' */
.icon-times:before { content: '\ebdc'; } /* '' */
.icon-times-circle-1:before { content: '\ebdd'; } /* '' */
.icon-tint-1:before { content: '\ebde'; } /* '' */
.icon-toggle-off-1:before { content: '\ebdf'; } /* '' */
.icon-toggle-on-1:before { content: '\ebe0'; } /* '' */
.icon-trademark-1:before { content: '\ebe1'; } /* '' */
.icon-train-1:before { content: '\ebe2'; } /* '' */
.icon-transgender-1:before { content: '\ebe3'; } /* '' */
.icon-transgender-alt-1:before { content: '\ebe4'; } /* '' */
.icon-trash-1:before { content: '\ebe5'; } /* '' */
.icon-trash-alt-1:before { content: '\ebe6'; } /* '' */
.icon-tree-1:before { content: '\ebe7'; } /* '' */
.icon-trophy:before { content: '\ebe8'; } /* '' */
.icon-truck-1:before { content: '\ebe9'; } /* '' */
.icon-truck-loading:before { content: '\ebea'; } /* '' */
.icon-truck-moving:before { content: '\ebeb'; } /* '' */
.icon-tty-1:before { content: '\ebec'; } /* '' */
.icon-tv:before { content: '\ebed'; } /* '' */
.icon-umbrella-1:before { content: '\ebee'; } /* '' */
.icon-underline-1:before { content: '\ebef'; } /* '' */
.icon-undo:before { content: '\ebf0'; } /* '' */
.icon-undo-alt:before { content: '\ebf1'; } /* '' */
.icon-universal-access-1:before { content: '\ebf2'; } /* '' */
.icon-university:before { content: '\ebf3'; } /* '' */
.icon-unlink-1:before { content: '\ebf4'; } /* '' */
.icon-unlock:before { content: '\ebf5'; } /* '' */
.icon-unlock-alt:before { content: '\ebf6'; } /* '' */
.icon-upload-1:before { content: '\ebf7'; } /* '' */
.icon-user-2:before { content: '\ebf8'; } /* '' */
.icon-user-circle-2:before { content: '\ebf9'; } /* '' */
.icon-user-md-1:before { content: '\ebfa'; } /* '' */
.icon-user-plus-1:before { content: '\ebfb'; } /* '' */
.icon-users-1:before { content: '\ebfc'; } /* '' */
.icon-user-secret-1:before { content: '\ebfd'; } /* '' */
.icon-user-times-1:before { content: '\ebfe'; } /* '' */
.icon-utensils:before { content: '\ebff'; } /* '' */
.icon-utensil-spoon:before { content: '\ec00'; } /* '' */
.icon-venus-1:before { content: '\ec01'; } /* '' */
.icon-venus-double-1:before { content: '\ec02'; } /* '' */
.icon-venus-mars-1:before { content: '\ec03'; } /* '' */
.icon-vial:before { content: '\ec04'; } /* '' */
.icon-vials:before { content: '\ec05'; } /* '' */
.icon-video-1:before { content: '\ec06'; } /* '' */
.icon-video-slash:before { content: '\ec07'; } /* '' */
.icon-volleyball-ball:before { content: '\ec08'; } /* '' */
.icon-volume-down-1:before { content: '\ec09'; } /* '' */
.icon-volume-off-1:before { content: '\ec0a'; } /* '' */
.icon-volume-up-1:before { content: '\ec0b'; } /* '' */
.icon-warehouse:before { content: '\ec0c'; } /* '' */
.icon-weight:before { content: '\ec0d'; } /* '' */
.icon-wheelchair-1:before { content: '\ec0e'; } /* '' */
.icon-wifi-1:before { content: '\ec0f'; } /* '' */
.icon-window-close-2:before { content: '\ec10'; } /* '' */
.icon-window-maximize-2:before { content: '\ec11'; } /* '' */
.icon-window-minimize-2:before { content: '\ec12'; } /* '' */
.icon-window-restore-2:before { content: '\ec13'; } /* '' */
.icon-wine-glass:before { content: '\ec14'; } /* '' */
.icon-won-sign:before { content: '\ec15'; } /* '' */
.icon-wrench-1:before { content: '\ec16'; } /* '' */
.icon-x-ray:before { content: '\ec17'; } /* '' */
.icon-yen-sign:before { content: '\ec18'; } /* '' */
.icon-address-book-2:before { content: '\ec19'; } /* '' */
.icon-address-card-2:before { content: '\ec1a'; } /* '' */
.icon-adjust-1:before { content: '\ec1b'; } /* '' */
.icon-align-center-1:before { content: '\ec1c'; } /* '' */
.icon-align-justify-1:before { content: '\ec1d'; } /* '' */
.icon-align-left-1:before { content: '\ec1e'; } /* '' */
.icon-align-right-1:before { content: '\ec1f'; } /* '' */
.icon-allergies:before { content: '\ec20'; } /* '' */
.icon-ambulance-1:before { content: '\ec21'; } /* '' */
.icon-american-sign-language-interpreting-1:before { content: '\ec22'; } /* '' */
.icon-anchor-1:before { content: '\ec23'; } /* '' */
.icon-angle-double-down-1:before { content: '\ec24'; } /* '' */
.icon-angle-double-left-1:before { content: '\ec25'; } /* '' */
.icon-angle-double-right-1:before { content: '\ec26'; } /* '' */
.icon-angle-double-up-1:before { content: '\ec27'; } /* '' */
.icon-angle-down-1:before { content: '\ec28'; } /* '' */
.icon-angle-left-1:before { content: '\ec29'; } /* '' */
.icon-angle-right-1:before { content: '\ec2a'; } /* '' */
.icon-angle-up-1:before { content: '\ec2b'; } /* '' */
.icon-archive:before { content: '\ec2c'; } /* '' */
.icon-arrow-alt-circle-down-1:before { content: '\ec2d'; } /* '' */
.icon-arrow-alt-circle-left-1:before { content: '\ec2e'; } /* '' */
.icon-arrow-alt-circle-right-1:before { content: '\ec2f'; } /* '' */
.icon-arrow-alt-circle-up-1:before { content: '\ec30'; } /* '' */
.icon-arrow-circle-down:before { content: '\ec31'; } /* '' */
.icon-arrow-circle-left:before { content: '\ec32'; } /* '' */
.icon-arrow-circle-right:before { content: '\ec33'; } /* '' */
.icon-arrow-circle-up:before { content: '\ec34'; } /* '' */
.icon-arrow-down:before { content: '\ec35'; } /* '' */
.icon-arrow-left:before { content: '\ec36'; } /* '' */
.icon-arrow-right:before { content: '\ec37'; } /* '' */
.icon-arrows-alt:before { content: '\ec38'; } /* '' */
.icon-arrows-alt-h:before { content: '\ec39'; } /* '' */
.icon-arrows-alt-v:before { content: '\ec3a'; } /* '' */
.icon-arrow-up:before { content: '\ec3b'; } /* '' */
.icon-assistive-listening-systems-1:before { content: '\ec3c'; } /* '' */
.icon-asterisk-1:before { content: '\ec3d'; } /* '' */
.icon-at-1:before { content: '\ec3e'; } /* '' */
.icon-audio-description-1:before { content: '\ec3f'; } /* '' */
.icon-backward:before { content: '\ec40'; } /* '' */
.icon-balance-scale-1:before { content: '\ec41'; } /* '' */
.icon-ban:before { content: '\ec42'; } /* '' */
.icon-band-aid:before { content: '\ec43'; } /* '' */
.icon-barcode-1:before { content: '\ec44'; } /* '' */
.icon-bars:before { content: '\ec45'; } /* '' */
.icon-baseball-ball:before { content: '\ec46'; } /* '' */
.icon-basketball-ball:before { content: '\ec47'; } /* '' */
.icon-bath-1:before { content: '\ec48'; } /* '' */
.icon-battery-empty:before { content: '\ec49'; } /* '' */
.icon-battery-full:before { content: '\ec4a'; } /* '' */
.icon-battery-half:before { content: '\ec4b'; } /* '' */
.icon-battery-quarter:before { content: '\ec4c'; } /* '' */
.icon-battery-three-quarters:before { content: '\ec4d'; } /* '' */
.icon-bed-1:before { content: '\ec4e'; } /* '' */
.icon-beer-1:before { content: '\ec4f'; } /* '' */
.icon-bell-2:before { content: '\ec50'; } /* '' */
.icon-bell-slash-1:before { content: '\ec51'; } /* '' */
.icon-bicycle-1:before { content: '\ec52'; } /* '' */
.icon-binoculars-1:before { content: '\ec53'; } /* '' */
.icon-birthday-cake:before { content: '\ec54'; } /* '' */
.icon-blind-1:before { content: '\ec55'; } /* '' */
.icon-bold-1:before { content: '\ec56'; } /* '' */
.icon-bolt:before { content: '\ec57'; } /* '' */
.icon-bomb-1:before { content: '\ec58'; } /* '' */
.icon-book-1:before { content: '\ec59'; } /* '' */
.icon-bookmark-2:before { content: '\ec5a'; } /* '' */
.icon-bowling-ball:before { content: '\ec5b'; } /* '' */
.icon-box-1:before { content: '\ec5c'; } /* '' */
.icon-boxes:before { content: '\ec5d'; } /* '' */
.icon-box-open:before { content: '\ec5e'; } /* '' */
.icon-braille-1:before { content: '\ec5f'; } /* '' */
.icon-briefcase-1:before { content: '\ec60'; } /* '' */
.icon-briefcase-medical:before { content: '\ec61'; } /* '' */
.icon-bug-1:before { content: '\ec62'; } /* '' */
.icon-building-2:before { content: '\ec63'; } /* '' */
.icon-bullhorn:before { content: '\ec64'; } /* '' */
.icon-bullseye-1:before { content: '\ec65'; } /* '' */
.icon-burn:before { content: '\ec66'; } /* '' */
.icon-bus-1:before { content: '\ec67'; } /* '' */
.icon-calculator:before { content: '\ec68'; } /* '' */
.icon-calendar-2:before { content: '\ec69'; } /* '' */
.icon-calendar-alt-1:before { content: '\ec6a'; } /* '' */
.icon-calendar-check-1:before { content: '\ec6b'; } /* '' */
.icon-calendar-minus-1:before { content: '\ec6c'; } /* '' */
.icon-calendar-plus-1:before { content: '\ec6d'; } /* '' */
.icon-calendar-times-1:before { content: '\ec6e'; } /* '' */
.icon-camera-1:before { content: '\ec6f'; } /* '' */
.icon-camera-retro:before { content: '\ec70'; } /* '' */
.icon-capsules:before { content: '\ec71'; } /* '' */
.icon-car:before { content: '\ec72'; } /* '' */
.icon-caret-down:before { content: '\ec73'; } /* '' */
.icon-caret-left:before { content: '\ec74'; } /* '' */
.icon-caret-right:before { content: '\ec75'; } /* '' */
.icon-caret-square-down-1:before { content: '\ec76'; } /* '' */
.icon-caret-square-left-1:before { content: '\ec77'; } /* '' */
.icon-caret-square-right-1:before { content: '\ec78'; } /* '' */
.icon-caret-square-up-1:before { content: '\ec79'; } /* '' */
.icon-caret-up:before { content: '\ec7a'; } /* '' */
.icon-cart-arrow-down-1:before { content: '\ec7b'; } /* '' */
.icon-cart-plus-1:before { content: '\ec7c'; } /* '' */
.icon-certificate-1:before { content: '\ec7d'; } /* '' */
.icon-chart-area-1:before { content: '\ec7e'; } /* '' */
.icon-chart-bar-2:before { content: '\ec7f'; } /* '' */
.icon-500px-1:before { content: '\ec80'; } /* '' */
.icon-amilia:before { content: '\ec81'; } /* '' */
.icon-uniF100:before { content: '\f100'; } /* '' */
.icon-uniF101:before { content: '\f101'; } /* '' */
.icon-uniF102:before { content: '\f102'; } /* '' */
.icon-uniF103:before { content: '\f103'; } /* '' */
.icon-uniF104:before { content: '\f104'; } /* '' */
.icon-uniF105:before { content: '\f105'; } /* '' */
.icon-uniF106:before { content: '\f106'; } /* '' */
.icon-uniF107:before { content: '\f107'; } /* '' */
.icon-uniF108:before { content: '\f108'; } /* '' */