.u-row
  .u-col-sm
    .u-ex-box 1 of 1
.u-row
  .u-col-sm
    .u-ex-box 1 of 3
  .u-col-sm
    .u-ex-box 2 of 3
.u-row
  .u-col-sm
    .u-ex-box 1 of 3
  .u-col-sm
    .u-ex-box 2 of 3
  .u-col-sm
    .u-ex-box 3 of 3
.u-row
  .u-col-sm
    .u-ex-box 1 of 4
  .u-col-sm
    .u-ex-box 2 of 4
  .u-col-sm
    .u-ex-box 3 of 4
  .u-col-sm
    .u-ex-box 4 of 4
.u-row
  .u-col-sm
    .u-ex-box 1 of 5
  .u-col-sm
    .u-ex-box 2 of 5
  .u-col-sm
    .u-ex-box 3 of 5
  .u-col-sm
    .u-ex-box 4 of 5
  .u-col-sm
    .u-ex-box 5 of 5
.u-row
  .u-col-sm
    .u-ex-box 1 of 6
  .u-col-sm
    .u-ex-box 2 of 6
  .u-col-sm
    .u-ex-box 3 of 6
  .u-col-sm
    .u-ex-box 4 of 6
  .u-col-sm
    .u-ex-box 5 of 6
  .u-col-sm
    .u-ex-box 6 of 6
.u-row
  .u-col-sm
    .u-ex-box 1 of 7
  .u-col-sm
    .u-ex-box 2 of 7
  .u-col-sm
    .u-ex-box 3 of 7
  .u-col-sm
    .u-ex-box 4 of 7
  .u-col-sm
    .u-ex-box 5 of 7
  .u-col-sm
    .u-ex-box 6 of 7
  .u-col-sm
    .u-ex-box 7 of 7
.u-row
  .u-col-sm
    .u-ex-box 1 of 8
  .u-col-sm
    .u-ex-box 2 of 8
  .u-col-sm
    .u-ex-box 3 of 8
  .u-col-sm
    .u-ex-box 4 of 8
  .u-col-sm
    .u-ex-box 5 of 8
  .u-col-sm
    .u-ex-box 6 of 8
  .u-col-sm
    .u-ex-box 7 of 8
  .u-col-sm
    .u-ex-box 8 of 8
.u-row
  .u-col-sm
    .u-ex-box 1 of 9
  .u-col-sm
    .u-ex-box 2 of 9
  .u-col-sm
    .u-ex-box 3 of 9
  .u-col-sm
    .u-ex-box 4 of 9
  .u-col-sm
    .u-ex-box 5 of 9
  .u-col-sm
    .u-ex-box 6 of 9
  .u-col-sm
    .u-ex-box 7 of 9
  .u-col-sm
    .u-ex-box 8 of 9
  .u-col-sm
    .u-ex-box 9 of 9
.u-row
  .u-col-sm
    .u-ex-box 1 of 10
  .u-col-sm
    .u-ex-box 2 of 10
  .u-col-sm
    .u-ex-box 3 of 10
  .u-col-sm
    .u-ex-box 4 of 10
  .u-col-sm
    .u-ex-box 5 of 10
  .u-col-sm
    .u-ex-box 6 of 10
  .u-col-sm
    .u-ex-box 7 of 10
  .u-col-sm
    .u-ex-box 8 of 10
  .u-col-sm
    .u-ex-box 9 of 10
  .u-col-sm
    .u-ex-box 10 of 10
.u-row
  .u-col-sm
    .u-ex-box 1 of 11
  .u-col-sm
    .u-ex-box 2 of 11
  .u-col-sm
    .u-ex-box 3 of 11
  .u-col-sm
    .u-ex-box 4 of 11
  .u-col-sm
    .u-ex-box 5 of 11
  .u-col-sm
    .u-ex-box 6 of 11
  .u-col-sm
    .u-ex-box 7 of 11
  .u-col-sm
    .u-ex-box 8 of 11
  .u-col-sm
    .u-ex-box 9 of 11
  .u-col-sm
    .u-ex-box 10 of 11
  .u-col-sm
    .u-ex-box 11 of 11
.u-row
  .u-col-sm
    .u-ex-box 1 of 12
  .u-col-sm
    .u-ex-box 2 of 12
  .u-col-sm
    .u-ex-box 3 of 12
  .u-col-sm
    .u-ex-box 4 of 12
  .u-col-sm
    .u-ex-box 5 of 12
  .u-col-sm
    .u-ex-box 6 of 12
  .u-col-sm
    .u-ex-box 7 of 12
  .u-col-sm
    .u-ex-box 8 of 12
  .u-col-sm
    .u-ex-box 9 of 12
  .u-col-sm
    .u-ex-box 10 of 12
  .u-col-sm
    .u-ex-box 11 of 12
  .u-col-sm
    .u-ex-box 12 of 12
