.u-ex-layout.u-ex-icon
  .u-ex-box
    .u-ex-box-title <span>Material</span> style
    .u-ex-box-body
      // BEGIN DEMO
      include ./_includes/material-style.pug
      // END DEMO
  .u-ex-box
    .u-ex-box-title <span>iOS</span> style
    .u-ex-box-body
      // BEGIN DEMO
      include ./_includes/ios-style.pug
      // END DEMO
