extends _layouts/default
block head_end
	link(rel="stylesheet" href="assets/css/main.css") 

block content
	.u-layout
		ul
			li
				a(href="examples/button-basic/index.html" target="_blank") Button basic
			li
				a(href="examples/button-outline/index.html" target="_blank") Button outline
			li
				a(href="examples/header-example/index.html" target="_blank") Header example
			li
				a(href="examples/footer-example/index.html" target="_blank") Footer example
			li
				a(href="examples/pricing-table-01/index.html" target="_blank") Pricing table 01
			li
				a(href="examples/grid-basic/index.html" target="_blank") Grid basic
			li
				a(href="examples/icon-ionicons/index.html" target="_blank") Icon Ionicons
block body_end
