extends _layouts/default
block head_end
	link(rel="stylesheet" href="assets/css/main.css") 

block content
	.main-content
		h2 home
block body_end
	script(type="text/javascript" src="assets/js/index.js")
