extends _layouts/default
block head_end
	link(rel="stylesheet" href="assets/css/main.css") 

block content
	.main-content
		a(href="examples/basic-button/index.html" target="_blank") Button basic
		a(href="examples/basic-alert/index.html" target="_blank") Alert basic
block body_end
